<template>
  <v-container fluid>
    <v-row justify="center">
      <v-col cols="12" lg="10" md="10">
        <section class="d-flex justify-space-between pl-2">
          <h1 class="grey--text text--darken-3">Carrito</h1>
          <v-btn
          class="pa-2"
          depressed
          outlined
          color="grey darken-3"
          to="/"
          nuxt>
            <v-icon left dark>mdi-arrow-left-bold</v-icon>
            Seguir comprando
          </v-btn>
        </section>
      </v-col>
      <v-col lg="10" md="10" cols="12">
        <CartList :productos="cart"/>
      </v-col>
    </v-row>
    
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import CartList from '@/components/Cart/CartList.vue'

export default {
  layout:'cleanLayout',
  components:{
      CartList
  },
  computed:{
    ...mapGetters([
      'cart',
    ])
  }
  

}
</script>

<style>


</style>