<template>
<v-row 
  class="ma-0 py-0 px-2 grey lighten-3 "
  justify="end">
  <v-col cols="12" class="ma-0 pa-0">    
    <v-checkbox 
    v-model="check"
    light 
    class="d-flex flex-row-reverse font-weight-light" label="Tengo un código de descuento">
    </v-checkbox>     
  </v-col>
  <v-col lg="4" md="5" sm="6" cols="8" class="ma-0 pa-0" v-show="check">
    <v-text-field
    class="mr-1"
    dense
    outlined
    light
    label="Código"
    append-icon="mdi-ticket-percent"
    color="grey darken-1"></v-text-field>
  </v-col>
  <v-col lg="1" md="2" sm="3" cols="4" class="ma-0 pa-0" v-show="check">
      <v-btn block height="40" outlined :color="alertColor" dark>
          Aplicar
      </v-btn>
  </v-col>
</v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data () {
      return {
        check: false,
      }
    },
    computed:{
    ...mapGetters([
      'alertColor'
    ])
  },

}
</script>

<style>

</style>