<template>
<v-menu
    :open-on-hover="!isXsOnly && cart.length>0"
    transition="slide-y-transition"
    :close-on-content-click="false"
    :left="!isColapsed"
    :right="isColapsed"
    offset-y
    min-width="350px" 
>
  <!-- BOTON DEL CARRITO-->
  <template v-slot:activator="{ on }">
  <v-btn    
  icon 
  col 
  class="mr-5 buttonNoHover" 
  v-on="on"
  :to="isXsOnly ? '/cart' : $route.path"
  >
    <v-badge :color="cart.length == 0 ? 'transparent' : alertColor">
        <template v-slot:badge>
          <span v-show="cart.length ">{{ cart && cart.length  ? cart.length  : 0 }}</span>
        </template>
        <v-icon>mdi-cart</v-icon>
    </v-badge>
  </v-btn>
  </template>

  <!-- CART CARD -->
  <v-card
  outlined>

    <!-- HEADER CART CARD -->
    <v-list width="200px">
      <v-list-item class="py-0">
        <v-list-item-content class="pa-0">
            <v-list-item-title class="d-block grey--text text--lighten-3 font-weight-black title ma-0">
                Carrito
            </v-list-item-title>
            <v-list-item-subtitle class="d-block grey--text text--lighten-1 font-weight-medium subtitle-2 mt-n1">
                {{ cart.length }} {{ cart.length == 1 ? ' artículo' : 'artículos'}}
            </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>

    <v-divider></v-divider>

    <!-- PRODUCTOS CART CARD -->
    <v-list>
      <CartButtonCard v-for="producto in cart" :key="producto.slug" :producto="producto"/>
    </v-list>

    <section v-if="cart.length>0">
    <v-divider></v-divider>

    <!-- FOOTER CART CARD -->
    <v-card-actions class="pa-0" @click="$store.commit('cleanCategories');">
      <v-btn
        class="pa-0 ma-0"
        tile
        depressed
        :color="alertColor"
        block    
        to="/checkout"
        nuxt>
        <v-icon left dark>mdi-arrow-right-bold</v-icon>
        Tramitar compra
      </v-btn>
    </v-card-actions> 
    <v-card-actions class="pt-0">
      <v-btn
      id="irAlCarrito"
      text
      class="buttonNoHover" 
      block
      to="/cart"
      nuxt>Ir al Carrito</v-btn>
    </v-card-actions>
    </section>
  </v-card>
</v-menu>
</template>

<script>
import CartButtonCard from '@/components/Cart/CartButtonCard.vue'
import { mapGetters } from 'vuex'

export default {
  data(){
      return{
        reloaded: false,
      }
    },
    props:{
        cart:{
            type:Array,
            default: []
        },
        isColapsed:{
            type:Boolean,
            default: false
        },
        xsOnly: {
            type: Boolean,
            default: true
        }
    },
    computed:{
    ...mapGetters([
      'alertColor',
    ]),
    isXsOnly () { 
      return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
    }
    },
    created () {
        this.$nextTick(function () {
        this.reloaded = true
        });
    },
    components:{
        CartButtonCard,
    },
}
</script>

<style>
#irAlCarrito > span.v-btn__content{
    color: #BDBDBD !important;
    text-decoration: underline;
}
#cartButtonImage{
  border-radius: 5px;
}
#cartButtonList{
  border-radius: 5px;
  background-color: rgba(255,255,255,0.05)
}
</style>