<template>
<v-row 
class="ma-0 pa-0 grey darken-3  text-right"
justify="end">
    <v-col  lg="8" md="6" sm="5" cols="4" class="pa-0" align-self="center">
    
        <span align-center :class="isXsOnly ? 
        'subtitle-2 font-weight-bold grey--text text--lighten-3' :
        'title font-weight-bold grey--text text--lighten-3'">
            Total ({{ items > 1 ? items + ' ítems' : items + ' ítem' }}):
        </span>

    </v-col>
    <v-col lg="4" md="6" sm="7" cols="8" class="pt-3 pb-0">  
        <section class="d-block">
        <span class="title font-weight-bold grey--text text--darken-1 mr-3">
            <strike>{{ prTotal }} €</strike>
        </span>
        <span :class="isXsOnly ? 
        'd-block display-1 font-weight-bold grey--text text--lighten-3' :
        'display-3 font-weight-bold grey--text text--lighten-3'">
            {{ Math.round((pvpTotal + deliveryCost)* 100) / 100 }} €
        </span>
        </section>      
        <span :class="isXsOnly ? 
        'caption font-weight-light grey--text text--lighten-3' :
        'body-2 font-weight-light grey--text text--lighten-3'">
            Todos los impuestos incluidos
        </span>
    </v-col>
</v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: {
        xsOnly: {
        type: Boolean,
        default: true
        },
        items: {
            type: Number,
            default: 0
        }
    },
    created () {
        this.$nextTick(function () {
        this.reloaded = true
        })
    },
    data () {
        return {
        reloaded: false
        }
    },
    computed:{
    ...mapGetters([
      'pvpTotal',
      'prTotal',
      'deliveryCost'
    ]),
    isXsOnly () { 
      return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
    }
  },

}
</script>

<style>

</style>