<template>
<v-list-item 
    class="ma-2 pa-0" 
    id="cartButtonList"
    @click="$store.commit('selectCategoryHijo', producto.categoria_hijo.slug)"
    :to="'/zapatos_mujer/' + producto.categoria_hijo.categoria_padre.slug + '/' + producto.categoria_hijo.slug +'/' +producto.slug"
    nuxt
>
    <!-- PRODUCT IMAGE -->
    <v-img 
    height="80px"
    width="80px"
    id="cartButtonImage"
    src="https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain"></v-img>

    <!-- PRODUCT DETAILS -->
    <v-list-item-title class="px-2">
        <span class="d-block grey--text text--lighten-3 font-weight-black subtitle-1">
        {{ producto.slug }}
        </span>
        <span class="d-block font-weight-light grey--text text--lighten-3 body-2">
            Talla <strong>37</strong>
        </span>
        <span class="grey--text text--lighten-3 font-weight-bold subtitle-1">
            {{ producto.pvp }} € 
        </span>
        <span class="font-weight-bold grey--text text--darken-1 subtitle-2">
            <strike>{{ producto.pr }} €</strike>
        </span> 
    </v-list-item-title>

    <v-spacer></v-spacer>

    <!-- DELETE BUTTON -->
    <v-btn 
    light
    depressed
    class="buttonNoHover"
    color="transparent"
    @click.native.stop.prevent="$store.dispatch('addToCart', producto.slug);">
        <v-icon  class="grey--text text--lighten-3">mdi-delete-outline</v-icon>
    </v-btn>

</v-list-item>
</template>

<script>
export default {
    props:{
        producto:{
            type: Object,
            default: {}
        }
    }

}
</script>

<style>

</style>