<template>
<section>        
    <!-- HEADER -->
    <v-row class="ma-0 pa-0 grey lighten-3 grey--text text--darken-1 subtitle-1 font-weight-bold">
        <v-col cols="12" align-self="center" class="py-1">
            <span class="ma-2" v-if="cart.length==0">
                No hay productos en el carrito.
            </span>
        </v-col>
        <v-col cols="8" align-self="center" class="py-1" v-if="cart.length>0">
            <span class="ma-2">
                {{ productos.length > 1 ? 'Productos' :'Producto' }}
            </span>
        </v-col>
        <v-col cols="3" sm="0" align-self="center" class="py-1" v-if="cart.length>0">
            <span v-show="!isXsOnly">
                {{ productos.length >1 ? 'Precios' :'Precio' }}
            </span>
        </v-col>
    </v-row>

    <!-- PRODUCTOS -->
    
    <CartCard v-for="producto in productos" :producto="producto" :key="producto.slug"/>

    <v-row v-if="cart.length>0" style="background-color: rgba(229, 172, 118, 0.25) !important;" class="ma-0 pa-0 grey--text text--darken-2 title font-weight-medium">
        <v-col sm="8" cols="6" align-self="center" class="py-1" v-if="cart.length>0">
            <span class="ma-2 d-block">
                Gastos de envío*
            </span>
        </v-col>
        <v-col sm="4" cols="6" align-self="center" class="py-1" v-if="cart.length>0">
            <span>
                <span :class="isXsOnly?
                'd-block grey--text text--darken-3 font-weight-bold title'
                : 'grey--text text--darken-3 font-weight-bold title'">
                {{ deliveryCost }}€
                </span>
            <span class="font-weight-bold grey--text text--lighten-1 subtitle-1">
            <strike> {{ deliveryCost ? '' :'3.99 €' }}</strike>
        </span> 
            </span>
        </v-col>
    </v-row>
    
    
    <section v-if="cart.length>0">
    <!-- COUPON -->
    <CartCoupon />

    <!-- RESUME -->
    <CartResume :items="productos.length" />

    <!-- TRAMITAR PEDIDO -->
    <v-row class="ma-0 pa-0">
        <v-col cols="12" align-self="center" class="py-3 px-0" >
            <v-btn
            class="pa-0 ma-0"
            depressed
            :color="alertColor"
            block
            to="/checkout"
            nuxt>
            <v-icon left dark>mdi-arrow-right-bold</v-icon>
            Tramitar compra
          </v-btn>
        </v-col>
    </v-row>
    </section>

     

</section>
</template>

<script>
import CartCard from '@/components/Cart/CartCard.vue'
import CartCoupon from '@/components/Cart/CartCoupon.vue'
import CartResume from '@/components/Cart/CartResume.vue'
import { mapGetters } from 'vuex'

export default { 
    props: {
        xsOnly: {
        type: Boolean,
        default: true
        },
        productos: Array
    },
    created () {
        this.$nextTick(function () {
            this.reloaded = true
        })
    },
    data () {
        return {
        reloaded: false
        }
    },
    components:{
        CartCard,
        CartCoupon,
        CartResume
    },
    computed:{
    ...mapGetters([
      'alertColor',
      'cart',
      'pvpTotal',
      'valorEnviosGratis',
      'deliveryCost'
    ]),
    isXsOnly () { 
      return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
    }
  }
    
}
</script>

<style>
</style>