<template>

<v-row class="ma-0 pa-0" justify="end">
    <v-col lg="2" md="2" sm="2" cols="6" align-self="center">
        <v-img 
            height="120px"
            width="120px"  
            src="https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain"></v-img>       
    </v-col>
    <v-col lg="6" md="6" sm="6" cols="6" align-self="center">
        <span class="d-block grey--text text--darken-3 font-weight-black title">
            {{ producto.slug }}
        </span>
        <span class="d-block font-weight-light grey--text text--darken-3 body-2">
            Talla <strong>37</strong>
        </span>
        <span class="d-block font-weight-light grey--text text--darken-3 body-2">
            Cantidad <strong>1</strong>
        </span>                         
    </v-col> 
    <v-col lg="3" md="3" sm="3" cols="4" align-self="center">
        <span :class="isXsOnly?
        'd-block grey--text text--darken-3 font-weight-bold title'
        : 'grey--text text--darken-3 font-weight-bold title'">
            {{ producto.pvp }} € 
        </span>
        <span class="font-weight-bold grey--text text--lighten-1 subtitle-1">
            <strike>{{ producto.pr }} €</strike>
        </span> 
    </v-col>
    <v-col lg="1" md="1" sm="1" cols="2" align-self="center"> 
        <v-btn 
            light
            depressed
            class="buttonNoHover"
            color="transparent"
            @click="$store.dispatch('addToCart', producto.slug)">
            <v-icon  class="grey--text text--darken-3">mdi-delete</v-icon>
        </v-btn>
        
    </v-col>
    <v-col cols="12" class="pa-0 ">
        <v-divider  class="grey lighten-3"></v-divider>
    </v-col>        
</v-row>
 
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: {
        producto:{
            type:Object,
            default:{}
        },
        xsOnly: {
            type: Boolean,
            default: true
        }
    },
    created () {
        this.$nextTick(function () {
            this.reloaded = true
        })
    },
    data () {
        return {
        reloaded: false,
        }
    },
    computed:{
        ...mapGetters([
            'alertColor'
        ]),
        isXsOnly () { 
            return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
        }
    },
}
</script>

<style>


</style>