<template>
  <section class="py-3">
        <h1 class="d-block grey--text text--darken-3 font-weight-black display-2">
            {{ producto.slug }}
        </h1>
        <h2 class="d-block grey--text text--lighten-1 font-weight-medium title text-capitalize font-italic">
            {{ producto.categoria_hijo.slug }} Mujer
        </h2>
        <div class="mt-5 mb-3">
            <span class='grey--text text--darken-3 font-weight-bold headline'>
            {{ producto.pvp }} € 
            </span>
            <span class="font-weight-bold grey--text text--lighten-1 subtitle-1">
                <strike>{{ producto.pr }} €</strike>
            </span> 
            <span class="d-block font-weight-bold grey--text text--lighten-1 body-2 mt-n1">
                vendido y enviado por <strong class="grey--text text--darken-1">37 Outlet</strong>
            </span>      
        </div>
        <span class="font-weight-bold grey--text text--lighten-1 body-1 mr-6">
            <strong class="grey--text text--darken-3">Ref:</strong> {{ producto.slug }}
        </span>
        <span class="font-weight-bold grey--text text--lighten-1 body-1">
            <strong class="grey--text text--darken-3">Color:</strong> negro
        </span> 
        <div class="d-flex align-center mt-6">
            <span class="d-block font-weight-bold body-1 mr-2 grey--text text--darken-3">
                <strong>Talla:</strong> 
            </span> 
            <v-btn style="min-width: 0" disabled light outlined class="sizesButton pa-2">37</v-btn>
        </div>
        <DeliveryDialog ref="dialog"/>
        
        <v-card 
        color="grey lighten-3 pa-2 mt-3 grey--text text--darken-3" 
        elevation="0" 
        width="240px"
        @click="$refs.dialog.activate()">
            <v-icon left light>mdi-truck-fast</v-icon>
            <u>Envío a domicílo <strong>GRATIS*</strong></u>
        </v-card>
        <v-btn
        v-if="cart.some(p => p.slug == producto.slug)"
        class="pa-0 my-4"
        depressed
        outlined
        :color="alertColor"
        block
        to="/cart"
        nuxt>
            Ver en el carrito
        </v-btn>
        <v-btn
        v-else
        class="pa-0 my-4"
        depressed
        :color="alertColor"
        block
        @click="$store.dispatch('addToCart', producto.slug);$store.dispatch('addToWishlist', producto.slug)">
            <v-icon left dark>mdi-cart-arrow-down</v-icon>
            Añadir al carrito
        </v-btn>

        <!-- EXPANSIO PANELS -->
        <v-expansion-panels :accordion="true" light >
            <v-expansion-panel class="grey--text text--darken-1 font-weight-bold">
                <v-expansion-panel-header>Detalles del producto</v-expansion-panel-header>
                <v-expansion-panel-content eager>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel class="grey--text text--darken-1 font-weight-bold" >
                <v-expansion-panel-header>Marca</v-expansion-panel-header>
                <v-expansion-panel-content eager>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel class="grey--text text--darken-1 font-weight-bold">
                <v-expansion-panel-header>Cuidados</v-expansion-panel-header>
                <v-expansion-panel-content eager>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel class="grey--text text--darken-1 font-weight-bold">
                <v-expansion-panel-header>Devoluciones</v-expansion-panel-header>
                <v-expansion-panel-content eager>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </v-expansion-panel-content>
            </v-expansion-panel>
            
        </v-expansion-panels>            
  </section>
</template>

<script>
import DeliveryDialog from '@/components/DeliveryDialog.vue'
import { mapGetters } from 'vuex'

export default {
    props: ['producto'],
    computed:{
    ...mapGetters([
      'alertColor',
      'cart',
    ])
    },
    components:{
        DeliveryDialog
    }

}
</script>

<style>
.sizesButton.v-btn.v-btn--disabled{
    color: #757575 !important;
    font-weight: bolder;
}
.expansionActive{
    color: #757575 !important;
}

</style>