<template>
  <v-container class="pa-0" v-resize="onResize">
      <v-row class="d-flex align-center ">
          <!-- LISTA VERTICAL IMAGENES -->
          <v-col cols="3" class="py-0 pb-n1" v-show="$vuetify.breakpoint.mdAndUp">
            <v-img 
            v-for="(image, index) in images" 
            :key="index"
            @mouseover="selectImage(index)"
            :class="selectedImage == index ? 'mb-1 active-image' : 'mb-1'"
            height="120px"
            width="120px"
            :src="image"
            ></v-img>
          </v-col>
          <!-- PRODUCTO CAROUSEL -->
          <v-col md="9" sm="12" cols="12" class="pa-0">
            <v-carousel hide-delimiters :height="windowHeight> 614 + 80 ? '614px' : (windowHeight - 80) + 'px'" v-model="selectedImage">
                <v-carousel-item
                v-for="(image,index) in images"
                :key="index"
                :src="image">
                <!-- HEART / CART -->
                <template v-slot > 
                    <v-btn
                    bottom
                    right
                    absolute
                    class="buttonNoHover ma-1"
                    :color="wishlist.some(p => p.slug == producto.slug) ? cart.some(p => p.slug == producto.slug) ? 'grey darken-1' : '#FF5252' : 'grey darken-1'"
                    icon
                    @click.native.prevent.stop="cartWish(cart, producto.slug)"
                    :to="cart.some(p => p.slug == producto.slug) ? '/cart' : null">
                        <v-icon class="pa-0">
                            {{ cart.some(p => p.slug == producto.slug) ? 'mdi-cart-outline' : 'mdi-heart' }}
                        </v-icon>
                    </v-btn>
                </template>
                </v-carousel-item>
            </v-carousel>
          </v-col>
      </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default  {
    props: ['producto'],
    computed:{
        ...mapGetters([
        'cart',
        'wishlist'
        ])
    },
    data(){
        return{
            images:{
                0:"https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain",
                1:"https://images.asos-media.com/products/botas-estilo-calcetin-de-charol-negro-de-poliuretano-con-punta-y-tacon-de-new-look/13748697-2?$XXL$&wid=513&fit=constrain",
                2:"https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain",
                3:"https://images.asos-media.com/products/botas-estilo-calcetin-de-charol-negro-de-poliuretano-con-punta-y-tacon-de-new-look/13748697-2?$XXL$&wid=513&fit=constrain",
                4:"https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain",

            },
            selectedImage:0,
            windowHeight:614
        }
    },
    methods:{
        selectImage(imageIndex){
            this.selectedImage = parseInt(imageIndex)
        },
        cartWish(cart, productoSlug){
            // Si el item está en el carrito vamos al carrito caso contrario
            // limpiamos categorias para ir a /cart
            if(!cart.some(p => p.slug == productoSlug)){
                this.$store.dispatch('addToWishlist', productoSlug)
            }
            else{
                // Se va al carrito
                this.$store.commit('cleanCategories')
            }
        },
        onResize(){
            this.windowHeight = window.innerHeight
        }
    },
    mounted(){
        this.onResize()
    }

}
</script>

<style>
.active-image{
    border: 1px solid #424242;
}

</style>