<template>
  <v-container>
    <v-card tile light elevation="0">
    <v-tabs light :vertical="!$vuetify.breakpoint.xsOnly" :color="alertColor"  :fixed-tabs="$vuetify.breakpoint.xsOnly">
      <v-tab :class="$vuetify.breakpoint.xsOnly ? '': 'font-weight-black subtitle-1 d-flex justify-start'">
        <v-icon left>mdi-account</v-icon>
        Mis datos
      </v-tab>
      <v-tab :class="$vuetify.breakpoint.xsOnly ? '': 'font-weight-black subtitle-1 d-flex justify-start'">
        <v-icon left>mdi-basket</v-icon>
        Mis compras
      </v-tab>
      <client-only>
        <v-tab v-if="!$vuetify.breakpoint.xsOnly" class="d-flex justify-start font-weight-black subtitle-1" @click="logout">
          <v-icon left>mdi-logout</v-icon>
          Salir
        </v-tab>
      </client-only>
      <v-tab-item :transition="false" :reverse-transition="false">
        <v-card flat light tile>
          <MyDataCard />
        </v-card>
      </v-tab-item>
      <v-tab-item :transition="false" :reverse-transition="false">
        <v-card flat light tile>
          <MyOrdersCard />
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-btn
    block
    text
    v-show="$vuetify.breakpoint.xsOnly"
    @click="logout"
    color="rgba(0, 0, 0, 0.54)"
    class="font-weight-black subtitle-2">
      <v-icon left size="22">mdi-logout</v-icon>
          Salir
    </v-btn>
  </v-card>
  </v-container>
  
</template>

<script>
import MyDataCard from '@/components/Account/MyDataCard.vue'
import MyOrdersCard from '@/components/Account/MyOrdersCard.vue'
import { mapGetters } from 'vuex'

export default {
  middleware:'noauth-check',
  components:{
    MyDataCard,
    MyOrdersCard
  },
  methods:{
    logout(){
      this.$cookies.remove('user-token')
      
      this.$store.dispatch('logoutUser').then(() => {
        this.$router.replace('/cuenta/login')
      })
      
    }
  },
  computed:{
    ...mapGetters([
      'alertColor',
      'user'
    ])
  }
}
</script>

<style>
.v-tabs-item{
  background-color: red !important;
}

</style>