<template>
  <v-container>
    <v-card tile elevation="0">
    <v-tabs light  :color="alertColor"  fixed-tabs>
      <v-tab class="font-weight-black subtitle-1">
        Inicia Sesión
      </v-tab>
      <v-tab class="font-weight-black subtitle-1">
        Registrate
      </v-tab>
      <v-tab-item :transition="false" :reverse-transition="false">
        <v-card flat light tile>
            <Login />
        </v-card>
      </v-tab-item>
      <v-tab-item :transition="false" :reverse-transition="false">
        <v-card flat light tile>
          <Register />
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-card>
</v-container>
</template>

<script>
import Login from '@/components/Account/Unauth/Login.vue'
import Register from '@/components/Account/Unauth/Register.vue'
import { mapGetters } from 'vuex'

export default {
  components:{
    Login,
    Register
  },
  computed:{
    ...mapGetters([
      'alertColor',
    ])
  }

}
</script>

<style>

</style>