<template>
<v-card-text>
    <h1 class="grey--text text--darken-3 display-1 font-weight-bold mt-3 mb-2 text-capitalize">
        Bienvenid@ {{ user && user.first_name ? user.first_name : '' }}
    </h1>
    <span class="grey--text subtitle-1  text--darken-1 font-weight-medium text-justify">
        A continuación te mostramos los datos personales y de facturación de los que disponemos. Te recordamos que es interesante que los mantengas actualizados en todo momento.
    </span>
    <v-card 
    class="d-flex align-center justify-space-between"
    flat>
        <section class="d-flex">
        <v-icon left :color="alertColor">mdi-account</v-icon>
        <h2 :style="'color:'+ alertColor" class="subtitle-1 font-weight-bold mt-3 mb-2 text-uppercase">
            {{ $vuetify.breakpoint.xsOnly ? 'Mis datos' : 'Mis datos personales' }}
        </h2>
        </section>
        <v-btn
        text
        class="text-capitalize font-weight-bold pa-0"
        :color="alertColor">
            <v-icon left>mdi-pencil</v-icon>
            {{ $vuetify.breakpoint.xsOnly ? 'Editar' : 'Editar Información' }}
        </v-btn>
    </v-card>
    <v-divider></v-divider>
    
    <v-container class="pa-0 mt-2">
        <v-row class="pa-0 ma-0" no-gutters>
            <v-col sm="6" cols="12">
                <h3 class="mt-3">
                    Nombre:
                </h3>
                <span>
                    {{ user && user.first_name ? user.first_name + ' ' + user.last_name : '. . .' }}
                </span>
                <h3 class="mt-3">
                    Correo electrónico:
                </h3>
                <span>
                    {{ user && user.email ? user.email : '...' }}
                </span>
            </v-col>
            <v-col sm="6" cols="12">
                 <h3 class="mt-3">
                    Número de teléfono:
                </h3>
                <span>
                    {{ user && user.mobile ? user.mobile : '. . .'}}
                </span>
                <h3 class="mt-3">
                    Fecha de nacimiento:
                </h3>
                <span>
                    {{ '. . .' }}
                </span>
            </v-col>
        </v-row>
        
       
    </v-container>
    
</v-card-text>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed:{
    ...mapGetters([
      'alertColor',
      'user'
    ])
  }
}
</script>

<style>
</style>