<template>
<v-card-text>
    <h1 class="grey--text text--darken-3 display-1 font-weight-bold mt-3 mb-2 text-capitalize">
        Mis compras
    </h1>
    <span class="grey--text subtitle-1 text--darken-1 font-weight-medium text-justify">
        Desde esta sección puedes consultar el historial de tus compras y el detalle para su seguimiento.
    </span>
    <v-divider class="my-3"></v-divider>
    <span class="d-block" v-for="order in orders" :key="order.id">
      {{ order[0] }}
    </span>
    <span v-show="orders.length == 0 && !loading">
      {{ textDisplay }}
    </span>
    <div class="text-center">
      <v-progress-circular
      v-show="loading"
      :width="2"
      :color="alertColor"
      indeterminate
      ></v-progress-circular>
    </div>
    
</v-card-text>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
export default {

  data(){
    return{
      orders:[],
      loading: true,
      textDisplay: "No existe ninguna compra asociada con esta cuenta."
    }
    
  },

  mounted(){
    let $vm = this;
    var headers = {
      'Authorization': 'Token ' + this.$cookies.get('user-token')
    }
    return axios.get('http://localhost:8000/api/list-payment-intent/', {headers:headers}) 
    .then((response) =>{
      $vm.orders = response.data.data
      $vm.loading = false;
    })
    .catch((e) => {
      $vm.loading = false;
      $vm.textDisplay = "Se ha producido un error al intentar acceder a tú historial de compra."
    })
  },
  computed:{
    ...mapGetters([
      'alertColor',
    ])
  }
}
</script>

<style>

</style>