<template>
<v-container fluid>
    <v-alert prominent text type="error" v-if="errorAccess">
      <span class="d-block">Parece que o bien tu dirección de correo o la contraseña no es correcta.</span> 
      <span>¿Quieres volver a intentarlo?</span> 
    </v-alert>
    <form>

    <v-text-field
    light
    v-model="email"
    :error-messages="emailErrors"
    label="Correo elctrónico"
    required
    @blur="$v.email.$touch()"
    ></v-text-field>

    <v-text-field
    light
    v-model="password"
    :append-icon="viewPassword ? 'mdi-eye' : 'mdi-eye-off'"
    :type="viewPassword ? 'text' : 'password'"
    label="Contraseña"
    hint="Al menos 8 carácteres"
    :error-messages="passwordErrors"
    @click:append="viewPassword = !viewPassword"
    @blur="$v.password.$touch()"
    ></v-text-field>

    <v-card-actions class="justify-center">
      <v-btn :block="$vuetify.breakpoint.xsOnly" class="ma-0 px-6 grey--text text--darken-3 font-weight-bold" :color="alertColor" @click="acceder">ACCEDER</v-btn>
    </v-card-actions>
  </form>
</v-container>
  
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required,  email } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
middleware:'auth-check',
mixins: [validationMixin],

validations: {
    email: { required, email },
    password: {required},
},

data(){
  return{
    email: '',
    password: '',
    viewPassword: false,
    errorAccess: false
  }
},

computed: {
  emailErrors () {
    const errors = []
    if (!this.$v.email.$dirty) return errors
    !this.$v.email.email && errors.push('El correo no es valido')
    !this.$v.email.required && errors.push('Este campo es obligatorio')
    return errors
  },
  passwordErrors () {
    const errors = []
    if (!this.$v.password.$dirty) return errors
    !this.$v.password.required && errors.push('Este campo es obligatorio')
    return errors
  },
  ...mapGetters([
    'alertColor',
  ])
},

methods: {
    acceder () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        axios.post("http://localhost:8000/api-token-auth/", 
        {"username": this.email, "password":this.password, "checkout": false},  
        {withCredentials: true})
        .then(res =>{
          this.$store.dispatch('userAuthenticated', res.data).then(() => {
            this.$router.replace('/cuenta')
          })
          
        })
        .catch(e => this.errorAccess = true)
      }
    },
    clear () {
    this.$v.$reset()
    this.email = ''
    this.password = ''
    },
},
}
</script>

<style>

</style>