<template>
<v-container fluid>
    <v-alert
      prominent
      text
      type="error"
      v-if="errorAccess"
    >
      <span class="d-block">Ya existe un usuario con esta contraseña.</span> 
      
    </v-alert>
    <form >
    <v-text-field
    light
      v-model="first_name"
      :error-messages="firstNameErrors"
      label="Nombre"
      required
      @input="$v.first_name.$touch(); errorAccess = false"
    ></v-text-field>
    <v-text-field
    light
      v-model="last_name"
      :error-messages="lastNameErrors"
      label="Apellidos"
      required
      @input="$v.last_name.$touch(); errorAccess = false"
    ></v-text-field>
    <v-text-field
    light
      v-model="email"
      :error-messages="emailErrors"
      label="Correo electrónico"
      required
      @input="errorAccess = false"
      @blur="$v.email.$touch()"
    ></v-text-field>
    <v-text-field
    light
    v-model="password"
    :append-icon="viewPassword ? 'mdi-eye' : 'mdi-eye-off'"
    :type="viewPassword ? 'text' : 'password'"
    label="Contraseña"
    hint="Al menos 8 carácteres"
    :error-messages="passwordErrors"
    @input="errorAccess = false"
    @click:append="viewPassword = !viewPassword"
    @blur="$v.password.$touch()"
    ></v-text-field>
    <v-text-field
    light
    v-model="password2"
    :append-icon="viewPassword ? 'mdi-eye' : 'mdi-eye-off'"
    :type="viewPassword ? 'text' : 'password'"
    label="Confirmar contraseña"
    :error-messages="password2Errors"
    @input="errorAccess = false"
    @click:append="viewPassword = !viewPassword"
    ></v-text-field>
    <v-checkbox
    light
    v-model="checkbox"
    :error-messages="checkboxErrors"
    label="Al crear tu cuenta, aceptas nuestros Términos y Condiciones & Política de Privacidad"
    required
    @change="$v.checkbox.$touch()"
    @blur="$v.checkbox.$touch()"
    ></v-checkbox>

    <v-card-actions class="justify-center">
      <v-btn :block="$vuetify.breakpoint.xsOnly" class="ma-0 px-6 grey--text text--darken-3 font-weight-bold" :color="alertColor" @click="crear_cuenta">Crear Cuenta</v-btn>
    </v-card-actions>
  </form>
</v-container>
  
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, email, sameAs, maxLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {
mixins: [validationMixin],
middleware:'auth-check',
validations: {
    first_name: { required, maxLength:maxLength(30)},
    last_name:{required, maxLength:maxLength(30)},
    email: { required, email },
    password: {required, minLength:minLength(8)},
    password2: {required, confirm: sameAs('password') },
    checkbox: {
    checked (val) {
        return val
    },
    },
},

data(){
  return{
    first_name: '',
    last_name: '',
    email: '',
    password: '',
    password2: '',
    checkbox: false,
    viewPassword: false,
    errorAccess: false
  }
},

computed: {
    checkboxErrors () {
    const errors = []
    if (!this.$v.checkbox.$dirty) return errors
    !this.$v.checkbox.checked && errors.push('')
    return errors
    },
    firstNameErrors () {
    const errors = []
    if (!this.$v.first_name.$dirty) return errors
    !this.$v.first_name.required && errors.push('Este campo es obligatorio')
    !this.$v.first_name.maxLength && errors.push('30 carácteres como máximo')
    return errors
    },
    lastNameErrors () {
    const errors = []
    if (!this.$v.last_name.$dirty) return errors
    !this.$v.last_name.required && errors.push('Este campo es obligatorio')
    !this.$v.last_name.maxLength && errors.push('30 carácteres como máximo')
    return errors
    },
    emailErrors () {
    const errors = []
    if (!this.$v.email.$dirty) return errors
    !this.$v.email.email && errors.push('El correo no es válido')
    !this.$v.email.required && errors.push('Este campo es obligatorio')
    return errors
    },
    passwordErrors () {
    const errors = []
    if (!this.$v.password.$dirty) return errors
    !this.$v.password.minLength && errors.push('La contraseña debe tener al menos 8 carácteres')
    !this.$v.password.required && errors.push('Este campo es obligatorio')
    return errors
    },
    password2Errors () {
    const errors = []
    if (!this.$v.password2.$dirty) return errors
    !this.$v.password2.confirm && errors.push('Las contraseñas no coinciden.')
    !this.$v.password2.required && errors.push('Este campo es obligatorio')
    return errors
    },
    ...mapGetters([
      'alertColor',
    ])
},

methods: {
    crear_cuenta () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        axios.post("http://localhost:8000/api/user/", 
        {"email": this.email, "password":this.password, "first_name": this.first_name, "last_name": this.last_name},  
        {withCredentials: true})
        .then(res =>{
          this.$store.dispatch('userAuthenticated', res.data)
          this.$router.replace('/cuenta')
        })
        .catch(e => this.errorAccess = true)
      }
    }
},
}
</script>

<style>

</style>