<template>
    <v-row align="center" justify="center" class="pa-2">
        <v-col cols="12" align-self="center" class="py-1 grey lighten-3" v-if="productos.length==0">
            <span class="ma-2 grey--text text--darken-1 subtitle-1 font-weight-bold" >
                Tú lista de deseos está vacía
            </span>
        </v-col>
        <v-col v-for="producto in productos" :key="producto.slug" lg="2" md="3" cols="6">
            <WishlistCard :producto="producto"/>
        </v-col>
    </v-row>
</template>

<script>
import WishlistCard from '@/components/Wishlist/WishlistCard.vue'

export default {
    props: ['productos'],
    components:{
        WishlistCard
    }
}
</script>

<style>

</style>