<template>
    <v-lazy>
    <v-card 
        class="mx-auto"  
        light 
        elevation="0"
        :to="'/zapatos_mujer/' + producto.categoria_hijo.categoria_padre.slug + '/' + producto.categoria_hijo.slug +'/' +producto.slug"
        nuxt
       >
        <v-img 
        src="https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain">
            <template v-slot > 
                <v-btn
                absolute
                right
                class="text-right ma-1"
                icon
                @click.prevent="$store.dispatch('addToWishlist', producto.slug)"
                
              >
                <v-icon class="pa-0">mdi-delete</v-icon>
              </v-btn>
            </template>
        </v-img>
        <v-card-title>{{ producto.slug }}</v-card-title>
        <v-card-subtitle>{{ producto.pvp }} - {{ producto.pr }}</v-card-subtitle>
        <v-card-text>Talla: 37</v-card-text>
        <v-btn 
            block
            outlined 
            :color="alertColor" 
            dark
            class="caption"
            @click.prevent="$store.dispatch('addToCart', producto.slug);$store.dispatch('addToWishlist', producto.slug)">Mover Al Carrito</v-btn>

    </v-card>    
    </v-lazy>
  
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: ['producto'],
    computed:{
        ...mapGetters([
            'alertColor'
        ])
    }

}
</script>

<style>
.v-btn--absolute.v-btn--right, .v-btn--fixed.v-btn--right {
    right: 0px;
}
.v-btn--absolute.v-btn--bottom, .v-btn--fixed.v-btn--bottom {
    bottom: 0px;
}

</style>