<template>
  <v-container fluid>
    <ProductListHeader :items="items" :header="$route.params.category_hijo + ' ' + $route.params.category_padre+ ' Mujer'"/>
    <ProductList :productos="productos"/>
  </v-container>
</template>

<script>
import ProductList from '@/components/Products/ProductList.vue'
import ProductListHeader from '@/components/Products/ProductListHeader.vue'
import axios from 'axios'

export default {
  validate ({ params, store }) {
    return store.state.categories.some(category => category.slug === params.category_padre &&  category.categorias_hijo.some(category_hijo => category_hijo.slug === params.category_hijo ))
  },
  data(){
    return{
      items: [
        {
          text: 'Inicio',
          exact: true,
          disabled: false,
          to: '/',
        },
        {
          text: 'Zapatos Mujer',
          exact: true,
          disabled: false,
          to: '/zapatos_mujer/',
        },
        {
          text: this.$route.params.category_padre,
          exact: true,
          disabled: false,
          to:'/zapatos_mujer/' + this.$route.params.category_padre,
          
        },
        {
          text: this.$route.params.category_hijo,
          disabled: true,
          to:''
        },
      ]
    }
  },
  components:{
      ProductList,
      ProductListHeader
  },
  async asyncData(context){
    context.store.commit('selectCategoryHijo', context.route.params.category_hijo)
    return await axios.get('http://localhost:8000/api/categoria_hijo/' + context.route.params.category_hijo +'/' ) 
    .then((response) =>{   
      return{
        productos: response.data,
      }
    })
    .catch((e) => context.error(e))  
  },
}
</script>

<style>
#breadCrumb{
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 0.0125em;
}
#breadCrumb > li > a{
  color:#424242;
}
#breadCrumb > li > div{
  color: #bdbdbd;
}
</style>