<template>
    <v-lazy>
    <v-card 
        class="mx-auto"  
        light 
        elevation="0"
        @click.native="$store.commit('selectCategoryHijo', producto.categoria_hijo.slug)"
        :to="'/zapatos_mujer/' + producto.categoria_hijo.categoria_padre.slug + '/' + producto.categoria_hijo.slug +'/' +producto.slug"
        nuxt
        :ripple="false"
       >
        <v-img 
        src="https://images.asos-media.com/products/sandalias-con-plataforma-extrema-y-diseno-en-negro-cocodrilo-thalia-de-public-desire/13053393-1-blackcroc?$n_320w$&wid=317&fit=constrain">
            <template v-slot > 
                <v-btn
                bottom
                right
                absolute
                class="buttonNoHover ma-1"
                :color="wishlist.some(p => p.slug == producto.slug) ? cart.some(p => p.slug == producto.slug) ? 'grey darken-1' : '#FF5252' : 'grey darken-1'"
                icon
                @click.native.prevent.stop="cartWish(cart, producto.slug)"
                :to="cart.some(p => p.slug == producto.slug) ? '/cart' : null"
                >
                    <v-icon class="pa-0">{{ cart.some(p => p.slug == producto.slug) ? 'mdi-cart-outline' : 'mdi-heart' }}</v-icon>
                </v-btn>
            </template>
        </v-img>
        <v-card-title class="px-1">
        <span class="d-block grey--text text--darken-3 font-weight-black title text-truncate">
            {{ producto.slug }}
        </span>
        </v-card-title>
        <v-card-subtitle class="px-1 ">
            <span class="grey--text text--darken-3 font-weight-bold subtitle-1">
                {{ producto.pvp }} € 
            </span>
            <span class="font-weight-bold grey--text text--lighten-1 subtitle-2">
                <strike>{{ producto.pr }} €</strike>
        </span>
        </v-card-subtitle>
        
    </v-card>    
    </v-lazy>
  
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    props: ['producto'],
    computed:{
        ...mapGetters([
            'wishlist',
            'cart',
        ])
    },
    methods:{
        cartWish(cart, productoSlug){
            // Si el item está en el carrito vamos al carrito caso contrario
            // limpiamos categorias para ir a /cart
            if(!cart.some(p => p.slug == productoSlug)){
                this.$store.dispatch('addToWishlist', productoSlug)
            }
            else{
                //Se va al carrito
                this.$store.commit('cleanCategories')
            }
        }
    }

}
</script>

<style>

</style>