<template>
    <v-row align="center" justify="center" class="px-3">
        <!-- PRODUCT FILTER -->
        <v-col cols="3" class="pr-1" v-show="!$vuetify.breakpoint.xsOnly">
            <v-select
            class="pa-0 my-0 grey--text text--darken-3 subtitle-1 font-weight-light"
            color="grey darken-3"
            :background-color="selectedOrder !== undefined ? 'grey lighten-3' : ''"
            light
            outlined
            dense
            hide-details
            item-color="grey lighten-1"
            single-line
            v-model="selectedOrder"
            label="ORDENAR POR"
            :items="itemsOrder"
            ></v-select>
        </v-col>
        <v-col cols="3" class="px-1" v-show="!$vuetify.breakpoint.xsOnly">
            <v-select
            class="pa-0 my-0 grey--text text--darken-3 subtitle-1 font-weight-light"
            color="grey darken-3"
            :background-color="selectedColor !== undefined ? 'grey lighten-3' : ''"
            light
            outlined
            dense
            clearable
            hide-details
            item-color="grey lighten-1"
            single-line
            v-model="selectedColor"
            label="COLOR"
            :items="itemsColor"
            ></v-select>
        </v-col>
        <v-col cols="3" class="px-1" v-show="!$vuetify.breakpoint.xsOnly">
            <v-select
            class="pa-0 my-0 grey--text text--darken-3 subtitle-1 font-weight-light"
            color="grey darken-3"
            :background-color="selectedMarca !== undefined ? 'grey lighten-3' : ''"
            light
            outlined
            dense
            clearable
            hide-details
            item-color="grey lighten-1"
            single-line
            v-model="selectedMarca"
            label="MARCA"
            :items="itemsMarca"
            ></v-select>
        </v-col>
        <v-col cols="3" class="pl-1" v-show="!$vuetify.breakpoint.xsOnly">
            <v-select
            class="pa-0 my-0 grey--text text--darken-3 subtitle-1 font-weight-light"
            color="grey darken-3"
            :background-color="selectedSubcat !== undefined ? 'grey lighten-3' : ''"
            light
            outlined
            dense
            clearable
            hide-details
            item-color="grey lighten-1"
            single-line
            v-model="selectedSubcat"
            label="SUBCATEGORÍA"
            :items="itemsSubcat"
            ></v-select>
        </v-col>

        <v-col cols="12" class="d-flex justify-center py-0">
            <span class="grey--text text--darken-3 subtitle-2 font-weight-black">
                {{ productos.length }} artículos encontrados
            </span>
        </v-col>

        <!-- PRODUCT LIST -->
        <v-col v-for="producto in productos" :key="producto.slug" md="4" cols="6">
            <Product :producto="producto"/>
        </v-col>
    </v-row>
</template>

<script>
import Product from '@/components/Products/ProductCard.vue'
import { mapGetters } from 'vuex'

export default {
    props: ['productos'],
    data(){
        return{
            routeActual:'',
            selectedOrder: undefined,
            itemsOrder:['RECOMENDADO', 'NOVEDADES', 'PRECIO (DE MAYOR A MENOR)', 'PRECIO (DE MENOR A MAYOR)'],
            selectedColor: undefined,
            itemsColor:['RECOMENDADO', 'NOVEDADES', 'PRECIO (DE MAYOR A MENOR)', 'PRECIO (DE MENOR A MAYOR)'],
            selectedMarca: undefined,
            itemsMarca:['ÁNGEL ALARCÓN', 'LAB', 'MIKAELA'],
            selectedSubcat: undefined,
            itemsSubcat:['TACÓN ANCHO', 'TACÓN FINO'],
        }
    },
    components:{
        Product
    },
    mounted(){
        this.routeActual =  this.$route.name
        if(this.$store.getters.scroll.active){
            setTimeout(() => {
                window.scrollTo(0,this.$store.getters.scroll.offset[this.routeActual]);
                this.$store.commit("scroll", false);
            },100)
        } 
    },
    beforeDestroy(){
        this.$store.commit('scroll',{ [this.routeActual] : window.pageYOffset})
    },
    watch: {
        // whenever question changes, this function will run
        selectedOrder: function (newSelection, oldSelection) {
            if(newSelection == 'PRECIO (DE MAYOR A MENOR)'){
                this.productos = this.productos.sort(function(first, second) {
                    return second.pvp - first.pvp;
                });
            }
            else if(newSelection == 'PRECIO (DE MENOR A MAYOR)'){
                this.productos = this.productos.sort(function(first, second) {
                    return first.pvp - second.pvp ;
                });
            }
            
        }
    },

}
</script>

<style>
</style>