<template>
<section>
  <!-- BREADCRUMB -->
    <v-breadcrumbs v-show="!$vuetify.breakpoint.xsOnly" class="text-capitalize px-3" :items="items" light id="breadCrumb">
    </v-breadcrumbs>

    <!-- PAGE DESCRIPTION -->
    <v-card  color="grey lighten-3" elevation="0" tile class="d-flex flex-column justify-center py-3">
      <h1 :class="$vuetify.breakpoint.xsOnly ? 'text-capitalize grey--text text--darken-3 headline font-weight-black text-center' : 'text-capitalize grey--text text--darken-3 display-1 font-weight-black text-center'">
        {{ header }}
      </h1>
      <div :class="$vuetify.breakpoint.xsOnly ? 'px-4 py-2' : 'px-12 py-2'">
        <span :class="viewMore ? 'd-block grey--text text--darken-1 text-center':'d-block grey--text text--darken-1 text-center text-truncate'">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </span>
      </div>
      <v-btn
      text 
      class="grey--text text--darken-3 font-weight-black"
      @click="viewMore = !viewMore">
        {{ viewMore ? 'Ver menos' : 'Ver más' }}
      </v-btn>
    </v-card>
</section>
</template>

<script>
export default {
    props:['items', 'header'],
    data(){
        return {
            viewMore: false
        }
    }

}
</script>

<style>

</style>