<template>
<v-container fluid :class="$vuetify.breakpoint.xsOnly ? 'pt-0': ''"> 
  <v-breadcrumbs v-show="!$vuetify.breakpoint.xsOnly" class="text-capitalize px-0" :items="items" light id="breadCrumb">
  </v-breadcrumbs>
  <v-container :fluid="$vuetify.breakpoint.mdAndDown" class="pa-0">
    <v-row>
      <v-col sm="7" cols="12" class="pt-0">
        <DetailImages :producto="producto"/>
      </v-col>
      <v-col sm="5" cols="12">
        <DetailDescription :producto="producto"/>
      </v-col>
    </v-row>
  </v-container>
</v-container>
  
</template>

<script>
import DetailImages from '@/components/Products/ProductDetail/Images.vue'
import DetailDescription from '@/components/Products/ProductDetail/Description.vue'
import axios from 'axios'

export default {
  data(){
    return{
      items: [
        {
          text: 'Inicio',
          exact: true,
          disabled: false,
          to: '/',
        },
        {
          text: 'Zapatos Mujer',
          exact: true,
          disabled: false,
          to: '/zapatos_mujer/',
        },
        {
          text: this.$route.params.category_padre,
          exact: true,
          disabled: false,
          to:'/zapatos_mujer/' + this.$route.params.category_padre,
          
        },
        {
          text: this.$route.params.category_hijo,
          disabled: false,
          to: '/zapatos_mujer/' + this.$route.params.category_padre+ '/' + this.$route.params.category_hijo +'/',
          exact: true,
        },
        {
          text: this.$route.params.producto,
          disabled: true,
        },
      ]
    }
  },
  components:{
    DetailImages,
    DetailDescription
  },
  async asyncData(context){
    context.store.commit('selectCategoryHijo', context.route.params.category_hijo)

    return await axios.get('http://localhost:8000/api/productos/' + context.route.params.producto +'/' ) 
    .then((response) =>{  
      return{
        producto: response.data,
      }
    })
    .catch((e) => context.error(e))  
  },
  mounted () {
    let $vm = this;
    window.onpopstate = function() {$vm.$store.commit('scroll', true)};
  },

}
</script>

<style>
#breadCrumb{
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 0.0125em;
}
#breadCrumb > li > a{
  color:#424242;
}
#breadCrumb > li > div{
  color: #bdbdbd;
}

</style>