<template>
<v-dialog
    v-model="dialog"
    max-width="700px"
    :fullscreen="$vuetify.breakpoint.xsOnly"
>
    <v-card light>
        <v-card-title class="d-flex flex-column justify-center">
            
            <span class="d-block headline font-weight-bold grey--text text--darken-3">
                OPCIONES DE ENVÍO
                <v-btn icon light @click="dialog=false">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </span>
            <section style="width:100%;" class="my-4 d-flex justify-space-between">
                <v-spacer></v-spacer>
                <v-btn
                text>
                <v-img width="20px" class="mr-1" :src="'https://upload.wikimedia.org/wikipedia/en/thumb/9/9a/Flag_of_Spain.svg/200px-Flag_of_Spain.svg.png'"></v-img>
                    España
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn disabled>
                    MÁS PAÍSES
                </v-btn>
                <v-spacer></v-spacer>
            </section>
            <span class="d-block title font-weight-bold grey--text text--darken-1">
                ENVÍO
            </span>
        </v-card-title>
        
        <v-simple-table>
            <template v-slot:default>
            <thead>
                <tr>
                    <th class="text-left">TIPO</th>
                    <th class="text-left">CUANDO</th>
                    <th class="text-left">¿CUÁNTO?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Envío Estándar</td>
                    <td>Entrega el martes, 24 diciembre 2019 o antes</td>
                    <td>
                        <span class="d-block"><strong>4.95 €</strong></span>
                        <strong>GRATIS</strong>– si gastas más de {{ valorEnviosGratis.toFixed(2) }} €
                    </td>
                </tr>
                <tr>
                    <td>Siguiente Día Laborable</td>
                    <td>Entrega entre las 7 am y las 10 pm del martes, 17 diciembre 2019</td>
                    <td>
                        <span class="d-block"><strong>9,95 €</strong></span>
                    </td>
                </tr>
                <tr>
                    <td>Entrega a Medida</td>
                    <td>Elige un día que te venga bien</td>
                    <td>
                        <span class="d-block"><strong>9,95 €</strong></span>
                    </td>
                </tr>
            </tbody>
            </template>
        </v-simple-table>
    </v-card>
</v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    data(){
        return{
            dialog:false
        }
    },
    computed:{
    ...mapGetters([
      'valorEnviosGratis'
    ])
    },
    methods:{
        activate(){
            this.dialog=true
        }
    }

}
</script>

<style>

</style>