<template>
<section>
<v-card color="grey lighten-3" class="mb-12 d-flex flex-column px-3 pt-0 pb-3" height="380px" :width="isSmAndDown ? '100%' : '80%'" outlined>
    
    <!-- HEADER -->
    <div>
        <h1 class="grey--text text--darken-1 headline font-weight-bold my-3">
            {{ $vuetify.breakpoint.xsOnly ? 'Domicilio:' : 'Introduce tú domicilio:' }}
        </h1>
    </div>
    
    <!-- STREET AUTOCOMPLETE -->
    <client-only>
    <vuetify-google-autocomplete
    ref="address"
    v-model="address"
    id="map"
    classname="form-control"
    :error-messages="addressErrors"
    class="pa-0 ma-0 mt-2 font-weight-bold subtitle-1"
    placeholder="Calle, nº..."
    color="grey darken-1"
    required
    :append-icon="/\d/.test(this.address) && this.address? 'mdi-check-outline':''"
    v-on:placechanged="getAddressData"
    v-on:change="overwriteAddress"
    country="es"
    >
    </vuetify-google-autocomplete>
    </client-only>

    <!-- POSTAL CODE -->
    <v-text-field 
    v-model="postal_code"
    :error-messages="postalCodeErrors"
    required
    class="ma-0 pa-0  font-weight-bold subtitle-1"
    placeholder="Código postal"
    >
        <template v-slot:append v-if="this.postal_code.length == 5 && /^\d+$/.test(this.postal_code)">
            <v-icon color="green" class="mr-3">mdi-check-outline</v-icon>
        </template>
    </v-text-field>

    <!-- LOCALITY -->
    <v-text-field
    v-model="locality"
    :error-messages="localityErrors"
    required
    class="ma-0 pa-0 font-weight-bold subtitle-1"
    placeholder="Población" 
    >
        <template v-slot:append v-if="this.locality && !/\d/.test(this.locality)">
            <v-icon color="green" class="ma-0 pa-0 mr-3">mdi-check-outline</v-icon>
        </template>
    </v-text-field>
    
    <!-- PISO AND PUERTA -->
    <div class="d-flex flex-row"> 
    
    <v-text-field
    v-model="piso"
    color="grey darken-1"
    persistent-hint
    hint="Opcional"
    class="ma-0 pa-0 mr-2 font-weight-bold subtitle-1"
    placeholder="Piso" 
    ></v-text-field>

    <v-text-field 
    v-model="puerta"
    persistent-hint
    hint="Opcional"
    color="grey darken-1"
    class="ma-0 pa-0 ml-2 mb-2 font-weight-bold subtitle-1"
    placeholder="Puerta"
    
    ></v-text-field>
    </div>
</v-card>

<!-- ACTION BUTTONS -->
<v-btn :color="alertColor" dark @click="continueMethod">Continuar</v-btn>
<v-btn :color="alertColor" text @click="cancelMethod">Cancelar</v-btn>
</section>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import axios from 'axios'

const mustHaveNum = (value) => /\d/.test(value)
const noNums = (value) => !/\d/.test(value)
const onlyNums = (value) => /^\d+$/.test(value)

export default {
    mixins: [validationMixin],

    props:{
      isSmAndDown: {
          type: Boolean,
          default: true
      },
      alertColor:{
          type: String,
          default: ''
      }
    },

    data () {
      return {
        address: "",
        aux_address: '',
        locality: '',
        postal_code: '',
        piso:'',
        puerta: ''
      }
    },

    validations: {
        postal_code: {required, minLength:minLength(5), maxLength:maxLength(5), onlyNums},
        locality: {required, noNums},
        address: {required, mustHaveNum},
    },

    computed:{
        postalCodeErrors(){
            const errors = []
            if (!this.$v.postal_code.$dirty) return errors
            !this.$v.postal_code.minLength && errors.push('Código Postal ha de tener 5 dígitos')
            !this.$v.postal_code.maxLength && errors.push('Código Postal ha de tener 5 dígitos')
            !this.$v.postal_code.onlyNums && errors.push('Solo puede contener dígitos')
            !this.$v.postal_code.required && errors.push('Este campo es obligatorio')
            return errors
        },
        localityErrors(){
            const errors = []
            if (!this.$v.locality.$dirty) return errors
            !this.$v.locality.required && errors.push('Este campo es obligatorio')
            !this.$v.locality.noNums && errors.push('No puede contener números')
            return errors
        },
        addressErrors(){
            const errors = []
            if (!this.$v.address.$dirty) return errors
            !this.$v.address.required && errors.push('Este campo es obligatorio')
            !this.$v.address.mustHaveNum && errors.push('No ha indicado el número')
            return errors
        },
    },

    methods: {
        getAddressData(addressData, placeResultData, id) { 
            try{
                this.address = mustHaveNum(placeResultData.address_components[0].long_name)? 
                    placeResultData.address_components[1].long_name + ', ' + placeResultData.address_components[0].long_name : 
                    placeResultData.address_components[0].long_name;
                this.aux_address = this.address;
                this.locality = addressData.locality;
                this.postal_code = addressData.postal_code;
            }
            catch{
                this.address = "";
                this.locality = "";
                this.postal_code = "";
            }
        },
        continueMethod(){
            this.$v.$touch()
            if (!this.$v.$invalid) {
                var headers = {}
                
                if(this.$cookies.get('user-token')){
                    headers = {
                        'Authorization': 'Token ' + this.$cookies.get('user-token')
                    }
                }
                axios.post("http://localhost:8000/api/create-intent/",
                {"line1": this.address, "city": this.locality, "postal_code": this.postal_code, "country": "Spain"},
                {withCredentials: true, headers:headers})
                .then(res =>{
                    this.$emit('intent-data', res.data)
                    this.$store.commit('step', 3)
                })
                .catch(e => this.errorAccess = true)
            }
        },
        cancelMethod(){
            this.$v.$reset()
            this.$store.commit('step', 1)
        },
        overwriteAddress(){
            this.address = this.aux_address;
        },
    },
}
</script>

<style>
.v-messages{
    color: rgba(0, 0, 0, 0.3) !important;
}
#app > div > main > div > div > div:nth-child(4) > div > section > div > div.v-input.pa-0.ma-0.mt-2.font-weight-bold.subtitle-1.theme--light.v-text-field.v-text-field--is-booted.v-text-field--placeholder > div > div.v-input__slot > div.v-input__append-inner > div > i
{
    margin-right: 24px !important;
    color: #4CAF50 !important;
    caret-color: #4CAF50 !important; 
}
    

</style>