<template>
<v-card
    outlined
    :height=" $vuetify.breakpoint.smAndDown ? '240px' :'340px'"
    :class="$vuetify.breakpoint.smAndDown ? 'mt-3' : 'ml-3'"
    color="transparent"
    id="paymentDetails"
>            
    <v-simple-table id="paymentTable">
        <template v-slot:default>
        <thead >
            <tr >
            <th colspan="2" 
            :class="$vuetify.breakpoint.xsOnly ? 'grey--text text--darken-1 subtitle-1 font-weight-bold my-3':
            'grey--text text--darken-1 headline font-weight-bold my-3'">Datos de la operación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="grey--text text--darken-1 font-weight-bold subtitle-1">Importe</td>
                <td class="grey--text text--darken-1 font-regular">{{ Math.round((pvpTotal + deliveryCost)* 100) / 100 }} €</td>
            </tr>
            <tr>
                <td class="grey--text text--darken-1 font-weight-bold subtitle-1">Comercio</td>
                <td class="grey--text text--darken-1 font-regular">37 Outlet</td>
            </tr>
            <tr>
                <td class="grey--text text--darken-1 font-weight-bold subtitle-1">ID pedido</td>
                <td class="grey--text text--darken-1 font-regular">123456789</td>
            </tr>
            <tr>
                <td class="grey--text text--darken-1 font-weight-bold subtitle-1">Fecha</td>
                <td class="grey--text text--darken-1 font-regular">29/11/2019   10:25</td>
            </tr>
        </tbody>
        </template>
    </v-simple-table>
</v-card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    computed:{
    ...mapGetters([
      'pvpTotal',
      'deliveryCost'
    ]),
},

}
</script>

<style>
#paymentDetails{
    border: 3px solid rgba(117,117,117,0.7) !important; 
}
#paymentTable{
    background-color: transparent !important; 
}
</style>