<template>
<section>
<v-card 
  color="grey 
  lighten-3" 
  class="mb-12 px-0" 
  :height="$cookies.get('user-token') ? $vuetify.breakpoint.xsOnly ? '210px': '190px' : 
    tab == 0 ? $vuetify.breakpoint.xsOnly ? '325px': '310px':
    tab == 1 ?  $vuetify.breakpoint.xsOnly ? '310px': '270px':
    $vuetify.breakpoint.xsOnly ? '230px': '215px'" 
  :width="isSmAndDown ? '100%' : '80%'" 
  outlined
>
<v-list-item class="pa-0 ma-0" v-if="$cookies.get('user-token') == null">
  <v-container class="pa-0">
    <v-row class="px-1">
      <!-- TAB 0 -->
      <v-col cols=4 class="pr-0 pb-0">
      <v-btn
      :height="$vuetify.breakpoint.xsOnly ? '53px' : ''"
      block 
      outlined
      :color="tab == 0 ? 'grey darken-1' : 'grey lighten-1'"
      :class="tab == 0 ? 'selectedTab font-weight-bold': 'font-weight-bold'"
      @click="tab=0">
        <span class="textButton">Crear cuenta</span>
      </v-btn>
      </v-col>
      
      <!-- TAB 1 -->
      <v-col cols=4 class="px-1 pb-0">
        <v-btn
        :height="$vuetify.breakpoint.xsOnly ? '53px' : ''" 
        block 
        outlined
        :color="tab == 1 ? 'grey darken-1' : 'grey lighten-1'"
        :class="tab == 1 ? 'selectedTab font-weight-bold': 'font-weight-bold'"
        @click="tab=1">
          <span class="textButton">Ya soy usuario</span>
        </v-btn>
      </v-col>

      <!-- TAB 2 -->
      <v-col cols=4 class="pl-0 pb-0">
      <v-btn
        :height="$vuetify.breakpoint.xsOnly ? '53px' : ''"
        block
        outlined
        :color="tab == 2 ? 'grey darken-1' : 'grey lighten-1'"
        :class="tab == 2 ? 'selectedTab font-weight-bold': 'font-weight-bold'"
        @click="tab=2">
          <span class="textButton">comprar sin registrar</span>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</v-list-item>
  
<CrearCuenta ref="crearCuenta" v-if="tab==0 && $cookies.get('user-token') == null"/>
<AllreadyUser ref="allreadyUser"  v-if="tab==1 && $cookies.get('user-token') == null"/>
<WithoutRegister ref="withoutRegister"  v-if="tab==2 && $cookies.get('user-token') == null"/>
<LoggedIn ref="loggedIn" v-if="$cookies.get('user-token') != null"/> 
</v-card>


      
<v-btn :color="alertColor" dark @click="continueMethod" >Continuar</v-btn>
</section>
</template>

<script>

import LoggedIn from '@/components/Checkout/PersonalData/LoggedIn.vue'
import CrearCuenta from '@/components/Checkout/PersonalData/CrearCuenta.vue'
import AllreadyUser from '@/components/Checkout/PersonalData/AllreadyUser.vue'
import WithoutRegister from '@/components/Checkout/PersonalData/WithoutRegister.vue'

export default {
props:{
  isSmAndDown: {
      type: Boolean,
      default: true
  },
  alertColor:{
      type: String,
      default: ''
  },
},

data() {
  return{
    tab:0
  }
},

components:{
  LoggedIn,
  CrearCuenta,
  AllreadyUser,
  WithoutRegister
},
methods:{
  continueMethod(){
    if(this.$cookies.get('user-token') != null){
      this.$refs.loggedIn.continueMethod()
    }
    else if(this.tab == 0){
      this.$refs.crearCuenta.continueMethod()
    }
    else if(this.tab == 1){
      this.$refs.allreadyUser.continueMethod()
    }
    else if(this.tab == 2){
      this.$refs.withoutRegister.continueMethod()
    }
    
  }
}
}
</script>

<style>
.theme--light.v-tabs-items {
  background-color: transparent;
}
.textButton{
  white-space: normal;
  width: 100%;
}
.v-btn__content {
  flex: unset;
}
.selectedTab{
  border: solid;
  border-width: 3px;
}


</style>