<template>
<v-card color="grey lighten-3" :class="$vuetify.breakpoint.xsOnly ? 'mb-12 pa-2' : 'mb-12 pa-5  '" :height="$vuetify.breakpoint.smAndDown ? '470px':'380px'">
    <v-container fluid class="pa-0  ma-0  fill-height">
        <v-row class="pa-0  ma-0" no-gutters>
            <v-col lg="6" md="6" cols="12">
                
                <!-- HEADER -->
                <section class="d-flex justify-space-between mb-2">
                    <h1 
                    :class="$vuetify.breakpoint.xsOnly ? 'grey--text text--darken-1 subtitle-1 font-weight-bold my-3 ':
                    'grey--text text--darken-1 headline font-weight-bold my-3'">
                        Datos Tarjeta: 
                    </h1>

                    <!-- CARDS -->
                    <section class="d-flex">
                        <svg :width="$vuetify.breakpoint.xsOnly ? '20px' : '30px'" viewBox="0 0 159 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" class="ico-svg ico-svg--card" style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 1.41421;"><path d="M158.508,10.214c0,-5.637 -4.577,-10.214 -10.214,-10.214l-138.08,0c-5.637,0 -10.214,4.577 -10.214,10.214l0,79.701c0,5.637 4.577,10.214 10.214,10.214l138.08,0c5.637,0 10.214,-4.577 10.214,-10.214l0,-79.701Z" style="fill: rgb(0, 50, 116);"></path><circle cx="55.373" cy="50.064" r="34.377" style="fill: rgb(240, 22, 37);"></circle><circle cx="103.135" cy="50.064" r="34.377" style="fill: rgb(254, 178, 19);"></circle><path d="M85.291,46.064c0,-2.207 -1.793,-4 -4,-4l-50.075,0c-2.208,0 -4,1.793 -4,4l0,8c0,2.208 1.792,4 4,4l50.075,0c2.207,0 4,-1.792 4,-4l0,-8Z" style="fill: rgb(255, 255, 255);"></path><path d="M131.316,46.064c0,-2.207 -1.792,-4 -4,-4l-29.568,0c-2.208,0 -4,1.793 -4,4l0,8c0,2.208 1.792,4 4,4l29.568,0c2.208,0 4,-1.792 4,-4l0,-8Z" style="fill: rgb(255, 255, 255);"></path></svg>
                        <svg :width="$vuetify.breakpoint.xsOnly ? '20px' : '30px'"  viewBox="0 0 159 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" class="ico-svg ico-svg--card ma-1" style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 1.41421;"><path d="M158.508,10.214c0,-5.637 -4.577,-10.214 -10.214,-10.214l-138.08,0c-5.637,0 -10.214,4.577 -10.214,10.214l0,79.701c0,5.637 4.577,10.214 10.214,10.214l138.08,0c5.637,0 10.214,-4.577 10.214,-10.214l0,-79.701Z" style="fill: rgb(0, 108, 210);"></path><path d="M106.262,29.461c0,-2.207 -1.793,-4 -4,-4l-78.262,0c-2.208,0 -4,1.793 -4,4l0,8c0,2.208 1.792,4 4,4l78.262,0c2.207,0 4,-1.792 4,-4l0,-8Z" style="fill: rgb(255, 255, 255);"></path><path d="M138.508,62.667c0,-2.207 -1.793,-4 -4,-4l-76.017,0c-2.208,0 -4,1.793 -4,4l0,8c0,2.208 1.792,4 4,4l76.017,0c2.207,0 4,-1.792 4,-4l0,-8Z" style="fill: rgb(255, 255, 255);"></path></svg>
                        <svg :width="$vuetify.breakpoint.xsOnly ? '20px' : '30px'" viewBox="0 0 159 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" class="ico-svg ico-svg--card mr-1" style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 1.41421;"><path d="M158.508,10.214c0,-5.637 -4.577,-10.214 -10.214,-10.214l-138.08,0c-5.637,0 -10.214,4.577 -10.214,10.214l0,79.701c0,5.637 4.577,10.214 10.214,10.214l138.08,0c5.637,0 10.214,-4.577 10.214,-10.214l0,-79.701Z" style="fill: rgb(255, 255, 255);"></path><path d="M158.508,69.562l0,20.353c0,5.637 -4.577,10.214 -10.214,10.214l-138.08,0c-5.637,0 -10.214,-4.577 -10.214,-10.214l0,-20.353l158.508,0Z" style="fill: rgb(244, 167, 14);"></path><path d="M148.294,0c5.637,0 10.214,4.577 10.214,10.214l0,20.352l-158.508,0l0,-20.352c0,-5.637 4.577,-10.214 10.214,-10.214l138.08,0Z" style="fill: rgb(0, 87, 133);"></path><path d="M123.814,46.064c0,-2.207 -1.792,-4 -4,-4l-81.12,0c-2.208,0 -4,1.793 -4,4l0,8c0,2.208 1.792,4 4,4l81.12,0c2.208,0 4,-1.792 4,-4l0,-8Z" style="fill: rgb(0, 87, 133);"></path></svg>
                        <svg :width="$vuetify.breakpoint.xsOnly ? '20px' : '30px'" viewBox="0 0 159 101" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" class="ico-svg ico-svg--card" style="fill-rule: evenodd; clip-rule: evenodd; stroke-linejoin: round; stroke-miterlimit: 1.41421;"><path d="M158.508,10.214c0,-5.637 -4.577,-10.214 -10.214,-10.214l-138.08,0c-5.637,0 -10.214,4.577 -10.214,10.214l0,79.701c0,5.637 4.577,10.214 10.214,10.214l138.08,0c5.637,0 10.214,-4.577 10.214,-10.214l0,-79.701Z" style="fill: rgb(225, 225, 225);"></path><path d="M79.254,74.752c-6.17,6.002 -14.598,9.69 -23.881,9.69c-18.973,0 -34.377,-15.404 -34.377,-34.378c0,-18.973 15.404,-34.377 34.377,-34.377c9.283,0 17.711,3.687 23.881,9.689c-6.478,6.238 -10.497,14.998 -10.497,24.688c0,9.691 4.019,18.45 10.497,24.688Z" style="fill: rgb(238, 0, 5);"></path><path d="M79.254,25.376c6.169,-6.002 14.598,-9.689 23.881,-9.689c18.973,0 34.377,15.404 34.377,34.377c0,18.974 -15.404,34.378 -34.377,34.378c-9.283,0 -17.712,-3.688 -23.881,-9.69c6.478,-6.238 10.496,-14.997 10.496,-24.688c0,-9.69 -4.018,-18.45 -10.496,-24.688Z" style="fill: rgb(0, 152, 226);"></path><path d="M79.254,25.376c6.478,6.238 10.496,14.998 10.496,24.688c0,9.691 -4.018,18.45 -10.496,24.688c-6.478,-6.238 -10.497,-14.997 -10.497,-24.688c0,-9.69 4.019,-18.45 10.497,-24.688Z" style="fill: rgb(108, 105, 191);"></path><path d="M108.291,46.064c0,-2.207 -1.792,-4 -4,-4l-50.075,0c-2.207,0 -4,1.793 -4,4l0,8c0,2.208 1.793,4 4,4l50.075,0c2.208,0 4,-1.792 4,-4l0,-8Z" style="fill: rgb(255, 255, 255);"></path></svg>
                    </section>     
                </section>

                <!-- STRIPE PAYMENT -->
                <div id="card-element" class="mx-auto" width="100px" >            
                </div>
                <v-alert type="error"  dense outlined class="ma-0 mb-n2 pa-1" id="card-errors" role="alert" >
                </v-alert>
                <v-btn
                :loading="loader" 
                block 
                id="submit" 
                @click="loader=true"
                class="mb-2 mt-4  grey darken-1 grey--text text--lighten-3 font-weight-black">
                    Pagar
                </v-btn>

                <!-- IMAGE -->
                <v-img v-if="!$vuetify.breakpoint.smAndDown" width="300px" class="mx-auto" :src="require('~/assets/undraw_payments_21w6.svg')"></v-img>
            </v-col>

            <!-- DESCRIPTION -->
            <v-col lg="6" md="6" cols="12">
                <CheckoutDescription />  
            </v-col>
        </v-row>
    </v-container>
</v-card>
  
</template>

<script>
import CheckoutDescription from '@/components/Checkout/CheckoutDescription.vue'
import axios from 'axios'

export default {
props:{
    intent: {
        type: Object,
        default: null
    }
},

data(){
    return{
        loader: false,
    }
},

components:{
    CheckoutDescription
},

mounted(){
    let $vm = this;
    var stripe = Stripe('pk_test_AUf4PN2FixPCXAdgm0F2se8H00D394ogsa');
    var elements = stripe.elements();
    var style = {
    base: {
        backgroundColor: 'transparent',     
        fontSize: window.innerWidth <= 450 ? '13px' : window.innerWidth <= 650 ? '20px' : '25px',
        color: '#757575',
        iconColor: '#757575',
        fontSmoothing: 'antialiased',
        fontWeight: 700,
        '::placeholder': {
            color: '#BDBDBD',
        },
    },
    invalid: {
        color: '#fa755a',
        iconColor: '#fa755a',
        ':focus': {
            color: '#fa755a',
        },
    },
    };

    var card = elements.create("card", { iconStyle: 'solid',hidePostalCode:true, style: style });
    card.mount("#card-element");
    document.getElementById('card-errors').hidden = true;
    
    card.addEventListener('change', function(event) {
    var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.hidden = false;
            switch(event.error.code){
                case "incomplete_number":
                    displayError.textContent = "Número de tarjeta incompleto";
                    break;
                case "invalid_number":
                    displayError.textContent = "Número de tarjeta no valido";
                    break;
                case "incomplete_expiry":
                    displayError.textContent = "Fecha de caducidad incompleta";
                    break;
                case "incomplete_cvc":
                    displayError.textContent = "CVC incompleto";
                    break;
                default:
                    displayError.textContent = event.error.message;
            }
        } else {
            displayError.hidden = true;
            displayError.textContent = '';
        }
    });

    var submitButton = document.getElementById('submit');
    submitButton.addEventListener('click', function(ev) {
    stripe.confirmCardPayment($vm.intent.client_secret, {
        payment_method: {card: card}
    }).then(function(result) {
        if (result.error) {
            $vm.loader=false;
            console.log(result.error.message);
        } else {
        if (result.paymentIntent.status === 'succeeded') {
            var headers = {}
                
            if($vm.$cookies.get('user-token')){
                headers = {
                    'Authorization': 'Token ' + $vm.$cookies.get('user-token')
                }
            }
            axios.post("http://localhost:8000/api/cart-after-buy/",
            {"stripe_id": $vm.intent.id},
            {withCredentials: true, headers:headers})
            .then(res =>{  
                $vm.$store.commit('cart',[])
                $vm.$store.commit('step',1)
                $vm.$router.replace('/')
                $vm.loader=false;
            })
            .catch(e => console.log("error"))
        }
        }
    });
    });

    window.addEventListener('resize', function(event) {
    if (window.innerWidth <= 450) {
        card.update({style: {base: {fontSize: '13px'}}});
    } else if(window.innerWidth <= 650) {
        card.update({style: {base: {fontSize: '20px'}}});
    } else {
        card.update({style: {base: {fontSize: '25px'}}});
    }
});

}

}
</script>

<style>

</style>