<template>
  <v-app-bar 
    app
    class="grey darken-3"
    :extension-height="isXsOnly? '50px' : '30px'"
    id="cleanHeader">
    
    <!-- BANNER COSTE HASTA ENVÍOS GRATIS -->
    <template v-slot:extension v-if="extendedSlot">
      <v-container class="text-center pa-0 ma-0" fluid >
        <v-icon>mdi-truck-delivery</v-icon>
        <span>
          Añade {{ Math.round((valorEnviosGratis - pvpTotal)*100)/100 }}€ y ten envíos <strong>GRATIS</strong>
        </span>
      </v-container>
    </template>
    

    
      
    <!-- Title -->
    <v-toolbar-items class="pa-0  mr-2" @click="$store.commit('cleanCategories')">
      <v-btn
        text
        block
        x-large
        depressed
        tile
        class="buttonNoHover"
        to="/" 
        nuxt
        :ripple="false">
        37 Outlet.
      </v-btn>
    </v-toolbar-items>


    <v-spacer></v-spacer>



    <!-- Icons -->
    <v-btn 
    color="transparent" 
    depressed
    class="font-weight-bold subtitle-1 buttonNoHover">
      <v-icon left>mdi-phone</v-icon>
      972 660 401
    </v-btn>



      
  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    xsOnly: {
      type: Boolean,
      default: true
    }
  },
  created () {
    this.$nextTick(function () {
      this.reloaded = true
    })
  },
  data () {
    return {
      reloaded: false
    }
  },
  computed:{
    ...mapGetters([
      'drawer',
      'pvpTotal',
      'valorEnviosGratis',
      'alertColor'
    ]),
    isXsOnly () { 
      return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
    },
    extendedSlot() {
      return this.reloaded ? this.$route.name == 'cart' && this.pvpTotal != 0  && this.pvpTotal < this.valorEnviosGratis : false
    }
  }

}
</script>

<style>
.buttonNoHover:before {
  display: none;
}
#cleanHeader > div.v-toolbar__extension{
  background-color: rgba(229, 172, 118, 0.8);
}
</style>