<template>
  <v-app-bar 
    app
    :expanded="!isXsOnly && categories.some(e => e.selected)"
    :collapse="isColapsed"
    v-scroll="doSome"
    class="grey darken-3"
    elevation="0">


    <!-- Nav Icon -->
    <client-only>
      <v-app-bar-nav-icon v-if="isColapsed || isXsOnly" @click="$store.commit('drawer', true)">
      </v-app-bar-nav-icon>
    </client-only>
    
    <!-- Title -->
    <v-toolbar-items class="pa-0  mr-2" v-if="!isColapsed">
      <v-btn
      text
      block
      x-large
      depressed
      class="buttonNoHover px-0"
      tile
      to="/" 
      nuxt
      @click="$store.commit('cleanCategories')"
      :ripple="false">
        37 Outlet.
      </v-btn>
    </v-toolbar-items>

    <!-- Categories Items -->
    <v-toolbar-items class="hidden-xs-only"  v-if="!isColapsed">
      <template v-for="category in categories">
        <v-btn 
        depressed
        class="buttonNoActive" 
        @click="$store.commit('selectCategoryPadre', category.slug)" 
        :color="category.selected ? 'grey darken-1': 'grey darken-3'" 
        :to="'/zapatos_mujer/' + category.slug" 
        nuxt
        :ripple="false"
        :key="category.slug">{{ category.nombre }}</v-btn>
      </template>  
    </v-toolbar-items>

    <v-spacer></v-spacer>

    <!-- Search Bar -->
    <v-text-field
      v-if="!isColapsed" 
      solo-inverted 
      flat 
      hide-details 
      label="Search"  
      prepend-icon="mdi-magnify" 
      class="hidden-sm-and-down"
      :color="alertColor"/>

    <!-- Icons -->
    <v-btn icon class="hidden-md-and-up buttonNoHover"  v-if="!isColapsed">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <v-btn icon class="hidden-xs-only buttonNoHover"  v-if="!isColapsed" @click="$store.commit('cleanCategories');" to="/cuenta" nuxt>
      <v-icon>mdi-account</v-icon>
    </v-btn>
    <v-btn icon class="buttonNoHover" v-if="!isColapsed" @click="$store.commit('cleanCategories');" to="/wishlist" nuxt>
      <v-icon>mdi-heart</v-icon>
    </v-btn>
    <CartButton :cart="cart" :isColapsed="isColapsed" />

    <!-- Header Extended elements -->
    <template  v-slot:extension v-if="!isXsOnly && categories.some(e => e.selected)">
      <template v-for="category in categories">
        <!-- Categories Extended Header-->
        <v-toolbar-items v-if="category.selected" class="mx-auto" :key="category.slug">
            <template v-for="categoryChild in category.categorias_hijo">
            <v-btn 
                id="categoryBtn" 
                :key="categoryChild.slug"
                text class="text-none buttonNoActive" 
                @click="$store.commit('selectCategoryHijo', categoryChild.slug)" 
                :to="'/zapatos_mujer/' + category.slug + '/' + categoryChild.slug" 
                nuxt
                :ripple="false">
                <span :class = '[{"selected-category-child": categoryChild.selected}]'>{{ categoryChild.nombre }}</span>
            </v-btn>
            </template>
        </v-toolbar-items>
      </template>
    </template>

  </v-app-bar>
</template>

<script>
import { mapGetters } from 'vuex'
import CartButton from '@/components/Cart/CartButton.vue'

export default {
  props: {
    xsOnly: {
      type: Boolean,
      default: true
    }
  },
  created () {
    this.$nextTick(function () {
      this.reloaded = true
    })
  },
  data () {
    return {
      isColapsed:false,
      reloaded: false,
    }
  },
  methods:{
    doSome(aux){
      if(aux.path[1].scrollY <= 500 ){
        this.isColapsed = false
      }
      else{
        this.isColapsed = true
      }
    },
  },
  components:{
    CartButton
  },
  computed:{
    ...mapGetters([
      'cart',
      'drawer',
      'categories',
      'alertColor'
    ]),
    isXsOnly () { 
      return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
    }
  },
}
</script>

<style>
.v-toolbar__extension{
  background-color: #757575;
}
#categoryBtn:hover{
  background-color: white;
  color: #757575;
}
.selected-category-child{
  font-weight: bold;
  text-decoration: underline;
}
.buttonNoActive::before{
  opacity: 0 !important;
}

</style>