<template>
  <!-- Navigation Drawer -->
  <v-navigation-drawer 
    app 
    v-model="drawer" 
    clipped 
    disable-resize-watcher 
    disable-route-watcher 
    mobile-break-point="5000">
    <v-list-item class="pa-0 ma-0">
        <v-container class="pa-0">
            <v-row class="pa-0">
                <v-col 
                    cols=6 
                    class="pa-0" 
                    v-for="category in categories"
                    :key="category.slug">
                    <v-btn 
                        block 
                        depressed
                        bottom
                        tile
                        :to="'/zapatos_mujer/' + category.slug"
                        nuxt
                        @click="$store.commit('selectCategoryPadre', category.slug)"
                        :class = "[{'buttonNoHover':true},
                                    {'pa-auto':true},
                                    {'styleC':true},
                                    {'selectedCategory': category.selected}]" >
                        {{ category.nombre }}</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </v-list-item>

    <v-list color="#424242" style="{'border-radius':0}"  >
        <v-list-item class="px-2 pb-2">
            <v-card
                :color="alertColor"
                dark
                width="100%"
                to="/zapatos_mujer"
                nuxt
                hover
                min-height="55px"
                @click="$store.commit('drawer',false)"
            >
                <v-list-item>
                    <v-list-item-content>
                        <v-list-item-title class="pa-1 grey--text text--lighten-3">Ver Todo</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            </v-card>
        </v-list-item>

        <template v-for="category in categories">
            <template v-if="category.selected">
                <v-list-item 
                class="px-2 pb-2"  
                v-for="categoryChild in category.categorias_hijo" 
                :key=categoryChild.slug>
                    <v-card
                        class="gradientColor"
                        width="100%"
                        :to="'/zapatos_mujer/' + category.slug + '/' + categoryChild.slug"
                        nuxt
                        hover
                        min-height="55px"
                        @click="$store.commit('drawer',false)"
                    >
                        <v-list-item class="pr-1">
                            <v-list-item-content>
                                <v-list-item-title class="pa-1 grey--text text--darken-3">
                                    {{ categoryChild.nombre }}
                                </v-list-item-title>
                            </v-list-item-content>

                            <v-list-item-avatar 
                                tile 
                                height="100%" 
                                width="25%" 
                                class="ma-0 pa-0">
                                <v-img  
                                    height="100%" 
                                    src="https://images.asos-media.com/products/zapatillas-naranjas-de-lona-con-llamas-y-estilo-vegano-de-koi/13239179-1-orange?$n_320w$&wid=317&fit=constrain">
                                </v-img>
                            </v-list-item-avatar>
                        </v-list-item>
                    </v-card>
                </v-list-item>
            </template>
        </template>
    </v-list>
    <v-list class="gradientColor" >
        <v-list-item @click="$store.commit('cleanCategories'); $store.commit('drawer',false)" to="/cuenta" nuxt>
            <v-list-item-avatar class="mr-3">
                <v-icon
                    class="grey--text text--darken-3"
                    v-text="'mdi-account'"
                ></v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
            <v-list-item-title class="grey--text text--darken-3" v-text="'Mi cuenta'"></v-list-item-title>
            </v-list-item-content>

        </v-list-item>
        <v-list-item @click="">
            <v-list-item-avatar class="mr-3">
                <v-icon
                    class="grey--text text--darken-3"
                    v-text="'mdi-clipboard-arrow-down'"
                ></v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
            <v-list-item-title class="grey--text text--darken-3" v-text="'Devoluciones'"></v-list-item-title>
            </v-list-item-content>

        </v-list-item>
    </v-list>
    
    
  </v-navigation-drawer>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
     computed:{
      drawer:{
        get: function() {
           return this.$store.getters.drawer
        },
        set:function(newValue){
          this.$store.commit('drawer', newValue)
        }
      },
      ...mapGetters([
        'categories',
        'alertColor'
      ])
    }

}
</script>

<style>
.styleC{
    background-color: #424242 !important;
    border-bottom-style: solid !important;
    border-bottom-width: 2.5px !important;
    border-bottom-color: rgba(255,255,255,0.05) !important;
 
}
.selectedCategory{
    border-bottom-color: white !important;
}
.gradientColor{
    border-radius: 0px;
    background: rgb(255,255,255) !important;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%) !important;
}
</style>