<template>
  <v-container fluid>
    <ProductListHeader :items="items" :header="'Zapatos ' + $route.params.category_padre + ' Mujer'"/>
    <ProductList :productos="productos"/>
  </v-container>
</template>

<script>
import ProductList from '@/components/Products/ProductList.vue'
import ProductListHeader from '@/components/Products/ProductListHeader.vue'
import axios from 'axios'

export default {
  data(){
    return{
      items: [
        {
          text: 'Inicio',
          exact: true,
          disabled: false,
          to: '/',
        },
        {
          text: 'Zapatos Mujer',
          exact: true,
          disabled: false,
          to: '/zapatos_mujer/',
        },
        {
          text: this.$route.params.category_padre,
          exact: true,
          disabled: true,
          to:'',
          
        }
      ]
    }
  },
  validate ({ params, store }) {
    return store.state.categories.some(category => category.slug === params.category_padre)
  },
  components:{
    ProductList,
    ProductListHeader
  },
  async asyncData(context){
    context.store.commit('selectCategoryPadre', context.params.category_padre)
    return await axios.get('http://localhost:8000/api/categoria_padre/' + context.route.params.category_padre +'/') 
    .then((response) =>{  
      return{
        
        productos: response.data,
      }
    })
    .catch((e) => context.error(e))
  },
}
</script>

<style>

</style>