<template>
  <v-stepper v-model="step" vertical light>

    <!-- DATOS PERSONALES -->
    <v-stepper-step :color="alertColor" :complete="step > 1" step="1" :class="isSmAndDown ? 'pl-0' : ''">
      Datos personales
    </v-stepper-step>
    <v-stepper-content step="1"  :class="isSmAndDown ? 'pl-2 ml-2' : ''">
      <PersonalDataCard :isSmAndDown="isSmAndDown" :alertColor="alertColor" />
    </v-stepper-content>

    <!-- ENVÍO -->
    <v-stepper-step :color="alertColor" :complete="step > 2" step="2"  :class="isSmAndDown ? 'pl-0' : ''">
      Envío
    </v-stepper-step>
    <v-stepper-content step="2" :class="isSmAndDown ? 'pl-2 ml-2' : ''">
      <AddressCard :isSmAndDown="isSmAndDown" :alertColor="alertColor" @intent-data="intentStore" />
    </v-stepper-content>

    <!-- PAGO -->
    <v-stepper-step  :color="alertColor" step="3"  :class="isSmAndDown ? 'pl-0' : ''">
      Pago
    </v-stepper-step>
    <v-stepper-content step="3" :class="isSmAndDown ? 'pl-2 ml-2' : ''">
      <StripeCard :intent="intent"/>
      <v-btn :color="alertColor" text @click="cancelPayment">Cancel</v-btn>
    </v-stepper-content>
  </v-stepper>
 
</template>

<script>
import AddressCard from '@/components/Checkout/AddressCard.vue'
import PersonalDataCard from '@/components/Checkout/PersonalDataCard.vue'
import StripeCard from '@/components/Checkout/StripeCard.vue'
import { mapGetters } from 'vuex'
import axios from 'axios'

export default {

  middleware: 'cart-empty',
  layout:'cleanLayout',
  data () {
    return {
      reloaded: false,
      intent: null
    }
  },
  props:{
    smAndDown: {
        type: Boolean,
        default: true
    }
  },
  components: {
    VueGoogleAutocomplete: () => import('vue-google-autocomplete'),
    AddressCard,
    PersonalDataCard,
    StripeCard
  },
  computed:{
    ...mapGetters([
      'alertColor',
      'step'
    ]),
    isSmAndDown() { 
      return this.reloaded ? this.smAndDown && this.$vuetify.breakpoint.smAndDown : this.smAndDown
    }
  },
  created () {
    this.$nextTick(function () {
      this.reloaded = true
    });
  },
  methods: {
    changeStep(step){
      this.step=step
    },
    intentStore(intent){
      this.intent=intent
    },
    cancelPayment(){
      // Métodod encargado de eliminar el intent generado
      var headers = {}            
      if(this.$cookies.get('user-token')){
          headers = {
              'Authorization': 'Token ' + this.$cookies.get('user-token')
          }
      }
      axios.post("http://localhost:8000/api/cancel-intent/",
      this.intent)
      .then(res =>{
        this.intent=null;
        this.$store.commit('step', 2)
      })
      .catch(e => console.log(e))
    }
  },

}
</script>

<style>

</style>