<template>
<div>
    <!-- EMAIL FIELD -->
    <v-text-field
    v-model="email"
    outlined
    hide-details
    dense
    light
    prepend-inner-icon="mdi-email"
    @input="cleanErrors"
    class='mx-2 mt-3 personalDataText'
    :error-messages="emailErrors"
    :label="emailErrors[0]"
    placeholder="Correo electrónico"
    ></v-text-field>

    <!-- PASSWORD1 FIELD -->
    <v-text-field
    v-model="password1"
    outlined
    hide-details
    dense
    light
    prepend-inner-icon="mdi-lock"
    :append-icon="viewPassword ? 'mdi-eye' : 'mdi-eye-off'"
    :type="viewPassword ? 'text' : 'password'"
    @click:append="viewPassword = !viewPassword"
    @input="cleanErrors"
    class='mx-2 mt-3 mb-8 personalDataText'
    :error-messages="password1Errors" 
    :label="password1Errors[0]" 
    placeholder="Contraseña"
    ></v-text-field>
    <div class="mx-2">
        <span class="grey--text text--darken-1 font-weight-light">
            Número de teléfono para realizar el envío:
        </span>
    </div>
    
    <!-- PHONE FIELD -->
    <vue-tel-input 
    v-model="phone_number"
    v-bind="bindProps"
    :class="errorPhone ? 'mx-2 mt-3 errorPhone' : 'mx-2 mt-3'"
    v-on:input="testNumber"
    v-on:enter="continueMethod"></vue-tel-input>



</div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required,  email, minLength} from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { VueTelInput } from 'vue-tel-input'
import axios from 'axios'


const onlyNums = (value) => /^\d+$/.test(value)

export default {
mixins: [validationMixin],

data () {
    return {
        email: '',
        phone_number: '',
        number_object: null,
        errorPhone: false,
        password1: '',
        password2: '',
        viewPassword: false,
        checkbox: false,
        
        bindProps: {
            mode: "national",
            defaultCountry: "ES",
            placeholder: "Número de teléfono",
            disabledFormatting: true,
            required: true,
            preferredCountries: ["ES", "GB", "FR", "DE"],
            dropdownOptions: {
                disabledDialCode: false
            },
            inputOptions: {
                showDialCode: false
            }
        },
    }
},

validations: {
    email: { required, email },
    password1: {required, minLength:minLength(8)},
},

components: {
    VueTelInput,
},

computed:{
    ...mapGetters([
      'user'
    ]),
    emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('')
        !this.$v.email.email && errors.push('')
        return errors
    },
    password1Errors () {
        const errors = []
        if (!this.$v.password1.$dirty) return errors
        !this.$v.password1.required && errors.push('')
        !this.$v.password1.minLength && errors.push('La contraseña debe tener al menos 8 carácteres')  
        return errors
    },

},

methods:{
    continueMethod(){
        this.$v.$touch()
        if (this.number_object && this.number_object.valid && !this.$v.$invalid) {
            axios.post("http://localhost:8000/api-token-auth/", 
            {"username": this.email, "password":this.password1, "checkout":true, "mobile":  this.number_object.number.international.replace(/\s/g, '')},  
            {withCredentials: true})
            .then(res =>{
                this.$store.dispatch('userAuthenticated', res.data)
                this.$store.commit('user', res.data)
                this.$store.commit('step', 2)
            })
            .catch(e => console.log("error"))  
        }
        else{
            this.errorPhone = this.number_object == null || !this.number_object.valid
        }
    },
    testNumber(number, isValid){
        this.errorPhone = false
        this.$v.$reset();
        this.number_object = isValid
    },
    cleanErrors(){
        this.$v.$reset();
        this.errorPhone = false;
    }
}    
}
</script>

<style>

.vue-tel-input:hover {
  border: 1px solid  !important;
  box-shadow: none !important;
}
.vue-tel-input:focus-within {
  border: 2px solid #1976d2 !important;
  box-shadow: none !important;
}
.errorPhone{
    border: 2px solid #dd2c00 !important;
    box-shadow: none !important;
}
.errorPhone:hover{
    border: 2px solid #dd2c00 !important;
    box-shadow: none !important;
}
</style>