<template>
<div class="px-2">
    <!-- HEADER -->
    <h1 class="grey--text text--darken-1 headline font-weight-bold mt-3 mb-2 text-capitalize">
        Bienvenid@ {{ user ? user.first_name : '' }}
    </h1>
    <span class="grey--text text--darken-1 font-weight-light">
        Necesitaremos tú número y correo para el envío
    </span>

    <!-- EMAIL FIELD -->
    <v-text-field
    id="personalDataText"
    v-model="email"
    outlined
    dense
    hide-details
    light
    prepend-inner-icon="mdi-email"
    @input="emailErrors"
    :error-messages="emailErrors"
    class='ma-0 pa-0 mt-2' 
    placeholder="Correo elctrónico"
    ></v-text-field>

    <!-- PHONE FIELD -->
    <vue-tel-input 
    v-model="phone_number"
    v-bind="bindProps"
    :class="errorPhone ? 'mt-3 errorPhone' : 'mt-3'"
    v-on:input="testNumber"
    v-on:enter="continueMethod"></vue-tel-input>

</div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required,  email } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { VueTelInput } from 'vue-tel-input'
import axios from 'axios'


const onlyNums = (value) => /^\d+$/.test(value)

export default {
mixins: [validationMixin],

data () {
    return {
        email: this.$store.getters.user ? this.$store.getters.user.email ? this.$store.getters.user.email : '' : '',
        phone_number: this.$store.getters.user ? this.$store.getters.user.mobile ? this.$store.getters.user.mobile : '' : '',
        number_object: this.$store.getters.user ? 
        this.$store.getters.user.mobile ? {'valid':true, 'number':{'international': this.$store.getters.user.mobile} } : null : null,
        errorPhone: false,
        
        bindProps: {
            mode: "national",
            defaultCountry: "ES",
            placeholder: "Número de teléfono",
            disabledFormatting: true,
            required: true,
            preferredCountries: ["ES", "GB", "FR", "DE"],
            dropdownOptions: {
                disabledDialCode: false
            },
            inputOptions: {
                showDialCode: false
            }
        },
    }
},

validations: {
    email: { required, email },
},

components: {
    VueTelInput,
},

computed:{
    ...mapGetters([
      'user'
    ]),
    emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('')
        !this.$v.email.email && errors.push('')
        return errors
    },
},

methods:{
    continueMethod(){
        this.$v.$touch()
        if (this.number_object && this.number_object.valid && !this.$v.$invalid) {
            var headers = {}
            if(this.$cookies.get('user-token')){
                headers = {
                'Authorization': 'Token ' + this.$cookies.get('user-token')
                }
            }
            
            axios.put("http://localhost:8000/api/user/", 
            {"mobile": this.number_object.number.international.replace(/\s/g, '') },
            {headers:headers})
            .then(res =>{
                this.$store.commit('user', res.data)
                this.$store.commit('step', 2)
            })
            .catch(e => console.log("hi"))        
        }
        else{
            this.errorPhone = this.number_object == null || !this.number_object.valid
        }
    },
    testNumber(number, isValid){
        this.errorPhone = false
        this.$v.$reset();
        this.number_object = isValid
    }
}    
}
</script>

<style>

#personalDataText{
  padding: 8px 25px 8px !important;
}



</style>