<template>
<div>
    <section class="d-flex flex-row">
    <!-- FIRST NAME FIELD -->
    <v-text-field
    v-model="first_name"
    outlined
    hide-details
    dense
    light
    @input="cleanErrors; capitalizeFirstName($event)"
    class='mx-2 mt-3'
    :error-messages="firstNameErrors" 
    :label="firstNameErrors[0]" 
    placeholder="Nombre"
    ></v-text-field>

    <!-- LAST NAME FIELD -->
    <v-text-field
    v-model="last_name"
    outlined
    hide-details
    dense
    light
    @input="cleanErrors; capitalizeLastName($event)"
    class='mr-2 mt-3'
    :error-messages="lastNameErrors" 
    :label="lastNameErrors[0]" 
    placeholder="Apellidos"
    ></v-text-field>

    </section>


    <!-- EMAIL FIELD -->
    <v-text-field
    v-model="email"
    outlined
    hide-details
    dense
    light
    prepend-inner-icon="mdi-email"
    @input="cleanErrors"
    class='mx-2 mt-3 personalDataText'
    :error-messages="emailErrors"
    :label="emailErrors[0]"
    placeholder="Correo electrónico"
    ></v-text-field>

    <!-- PHONE FIELD -->
    <vue-tel-input 
    v-model="phone_number"
    v-bind="bindProps"
    :class="errorPhone ? 'mx-2 mt-3 errorPhone' : 'mx-2 mt-3'"
    v-on:input="testNumber"
    v-on:enter="continueMethod"></vue-tel-input>


</div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required,  email, maxLength} from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { VueTelInput } from 'vue-tel-input'
import axios from 'axios'


const onlyNums = (value) => /^\d+$/.test(value)

String.prototype.capitalize = function() {
    return this.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
};

export default {
mixins: [validationMixin],
data () {
    return {
        email: this.$store.getters.anonymous_user ? this.$store.getters.anonymous_user.email:'',
        phone_number: this.$store.getters.anonymous_user ? this.$store.getters.anonymous_user.mobile:'',
        number_object: this.$store.getters.anonymous_user ? {'valid':true, 'number':{'international': this.$store.getters.anonymous_user.mobile} } : null,
        errorPhone: false,
        first_name: this.$store.getters.anonymous_user ? this.$store.getters.anonymous_user.first_name:'',
        last_name: this.$store.getters.anonymous_user ? this.$store.getters.anonymous_user.last_name:'',

        bindProps: {
            mode: "national",
            defaultCountry: "ES",
            placeholder: "Número de teléfono",
            disabledFormatting: true,
            required: true,
            preferredCountries: ["ES", "GB", "FR", "DE"],
            dropdownOptions: {
                disabledDialCode: false
            },
            inputOptions: {
                showDialCode: false
            }
        },
    }
},

validations: {
    email: { required, email },
    first_name: {required, maxLength:maxLength(30)},
    last_name: {required, maxLength:maxLength(30)},
},

components: {
    VueTelInput,
},

computed:{
    ...mapGetters([
      'user'
    ]),
    emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push('')
        !this.$v.email.email && errors.push('')
        return errors
    },
    firstNameErrors () {
        const errors = []
        if (!this.$v.first_name.$dirty) return errors
        !this.$v.first_name.required && errors.push('')
        !this.$v.first_name.maxLength && errors.push('30 carácteres como máximo')
        return errors
    },
    lastNameErrors () {
      const errors = []
        if (!this.$v.last_name.$dirty) return errors
        !this.$v.last_name.required && errors.push('')
        !this.$v.last_name.maxLength && errors.push('30 carácteres como máximo')
        return errors
    }
},

methods:{
    continueMethod(){
        this.$v.$touch()
        if (this.number_object && this.number_object.valid && !this.$v.$invalid) {
            axios.post("http://localhost:8000/api/anonymous_user/", 
            {"email": this.email, "first_name": this.first_name, "last_name": this.last_name, "mobile":  this.number_object.number.international.replace(/\s/g, '')},  
            {withCredentials: true})
            .then(res =>{
                this.$store.commit('anonymous_user', res.data)
                this.$store.commit('step', 2)
            })
            .catch(e => console.log("error"))  
        }
        else{
            this.errorPhone = this.number_object == null || !this.number_object.valid
        }
    },
    testNumber(number, isValid){
        this.errorPhone = false
        this.$v.$reset();
        this.number_object = isValid
    },
    cleanErrors(){
        this.$v.$reset();
        this.errorPhone = false;
    },
    capitalizeFirstName(e){
        this.first_name = e.capitalize()
    },
    capitalizeLastName(e){
        this.last_name = e.capitalize()
    }

}    
}
</script>

<style>

.vue-tel-input:hover {
  border: 1px solid !important;
  box-shadow: none !important;
}
.vue-tel-input:focus-within {
  border: 2px solid #1976d2 !important;
  box-shadow: none !important;
}
.errorPhone{
    border: 2px solid #dd2c00 !important;
    box-shadow: none !important;
}
.errorPhone:hover{
    border: 2px solid #dd2c00 !important;
    box-shadow: none !important;
}
.personalDataText> div > div > div.v-text-field__slot > input{
    padding: 8px 25px 8px !important;
}
</style>