<template>
  <v-container fluid>
    <h1>Lista de Desesos</h1>
    <Wishlist :productos="wishlist"/>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'
import Wishlist from '@/components/Wishlist/Wishlist.vue'

export default {
  components:{
      Wishlist
  },
  computed:{
    ...mapGetters([
      'wishlist'
    ])
  }
  

}
</script>

<style>

</style>