<template>
<!-- App.vue -->

<v-app>

  <HeaderClean />
  <v-content class="white black--text">
      <nuxt />
  </v-content>
  <v-footer app color="grey darken-3" padless>
  </v-footer>
</v-app>

  
</template>

<script>
import HeaderClean from '@/components/Navigation/HeaderClean.vue'
import NavigationDrawer from '@/components/Navigation/NavigationDrawer.vue'
import CartCoupon from '@/components/Cart/CartCoupon.vue'
import CartResume from '@/components/Cart/CartResume.vue'
import { mapGetters } from 'vuex'

export default {

  components:{
    HeaderClean,
    NavigationDrawer,
    CartCoupon,
    CartResume
  },
  computed:{
    ...mapGetters([
      'alertColor'
    ])
  }
}
</script>

<style>
</style>