<template>
<!-- App.vue -->

<v-app>
  <!-- System Bar -->
  <v-system-bar app :color="alertColor" style="z-index: 5;"> 
    <v-spacer></v-spacer>
    <span class="font-weight-medium white--text">
      ¡¡ENVÍOS <strong ><u>GRATIS</u></strong> A PARTIR DE {{ valorEnviosGratis }}€!!
    </span>
    <v-spacer></v-spacer>
  </v-system-bar>
  
  
  
  <NavigationDrawer />
  <Header />
  
  <v-content class="white black--text" light >
    <v-container fluid class="pa-0">
      <nuxt />
    </v-container>
  </v-content>


  <v-footer app absolute padless color="grey darken-3" class="px-3 pt-2">
    <v-col class="text-center" cols="3" align-self="start" v-show="$vuetify.breakpoint.mdAndUp">
      <h1 class="font-weight-bold title d-block mb-2">ATENCIÓN AL CLIENTE</h1>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Contacta</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Preguntas Frequentes</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Seguimiento de tú Pedido</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Envíos</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-1 grey--text text--lighten-2">Devoluciones y Cambios</p>
    </v-col>
    <v-col class="text-center" cols="3" align-self="start" v-show="$vuetify.breakpoint.mdAndUp">
      <h1 class="font-weight-bold title d-block mb-2">POLÍTICA DE LA MARCA</h1>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Términos y Condiciones</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Política de Cookies y Privacidad</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-1 grey--text text--lighten-2">Política de Devoluciones</p>
    </v-col>
    <v-col class="text-center" cols="3" align-self="start" v-show="$vuetify.breakpoint.mdAndUp">
      <h1 class="font-weight-bold title d-block mb-2">37 OUTLET</h1>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Empresa</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-2 grey--text text--lighten-2">Filosofía</p>
      <p class="font-weight-regular subtitle-2 text-justify mb-1 grey--text text--lighten-2">Blog</p>
    </v-col>
    <v-col class="text-center" cols="3" align-self="start" v-show="$vuetify.breakpoint.mdAndUp">
      <h1 class="font-weight-bold title d-block mb-2">NOTICIAS Y NOVEDADES</h1>
      <p class="font-weight-regular subtitle-2 text-justify grey--text text--lighten-2">Suscíbete a nuestra newsletter y se la primera en enterarte de los nuevos productos...</p>
      <v-text-field
      dense
      outlined
      dark
      :hide-details="true"
      label="Correo electrónico"
      append-icon="mdi-mail"
      color="grey lighten-2"></v-text-field>
      <v-btn
      color="grey lighten-2"
      class="grey--text text--darken-3 mt-2"
      block>
        Suscribirse
      </v-btn>
    </v-col>
    <v-col class="text-center" cols="12">
      © {{ new Date().getFullYear() }} — <strong>37 OUTLET</strong>
    </v-col>
  </v-footer>
</v-app>
  
</template>

<script>
import Header from '@/components/Navigation/Header.vue'
import NavigationDrawer from '@/components/Navigation/NavigationDrawer.vue'
import { mapGetters } from 'vuex'

export default {
   props: {
    xsOnly: {
      type: Boolean,
      default: true
    }
  },
   data () {
    return {
      reloaded: false
    }
  },
  created () {
    this.$nextTick(function () {
      this.reloaded = true
    })
  },
  computed:{
    ...mapGetters([
      'alertColor',
      'valorEnviosGratis'
    ]),
    isXsOnly () { 
      return this.reloaded ? this.xsOnly && this.$vuetify.breakpoint.xsOnly : this.xsOnly
    }
  },
  components:{
    Header,
    NavigationDrawer
  },   
}
</script>

<style>
</style>