<template>
    <v-row v-resize="onResize" align="center" justify="center" class="ma-0 pa-0" no-gutters
    v-scroll="doSome">
    
        <v-col cols="12">
        
            <v-card
            tile
            elevation="0"
            :height="$vuetify.breakpoint.mdAndUp  ? windowHeight - 88 + 'px' : windowHeight - 80 + 'px'"
            style="background: rgb(189,189,189);background: linear-gradient(0deg, rgba(189,189,189,1) 0%, rgba(66,66,66,1) 100%); border-width: 0px"
            >

            <!-- TEXTO -->
            <span 
            :class="windowWidth >= 530 ? 'text-capitalize grey--text text--lighten-3 display-2 font-weight-black'
            :'text-capitalize grey--text text--lighten-3 display-2 font-weight-black'" 
            :style="windowWidth >= 1400 ?'top:'+ (offsetY + 80) + 'px; left:'+(windowWidth * 0.17)+'px;position:absolute; z-index:3'
            :'top:'+(windowHeight-200)+'px; left:10px;position:absolute; z-index:3;text-shadow: 0 0 3px #424242;'">
                OUTLET DE MUESTRAS
            </span>
            <span 
            class='text-capitalize grey--text text--lighten-3 headline font-weight-black' 
            :style="windowWidth >= 1400 ? 'top:'+ (offsetY + 130) + 'px; left:'+ (windowWidth * 0.17) +'px;position:absolute; z-index:3'
            :'top:'+ (windowHeight-150) +'px; left:10px;;position:absolute; z-index:3;text-shadow: 0 0 3px #424242;'">
                DE LA TALLA 37. 
            </span>

            <!-- Primary Image -->
            <v-img
            :class="windowWidth >= 1400 ? 'mainImageHome' : 'z-index:2;'"
            :style="windowWidth >= 1400 ? 'top:' + (offsetY + 20) +'px; left:' + (windowWidth*0.75 - 295)+'px;'
            :'top:'+offsetY+'px; left:' +(windowWidth / 2) +'px;'"
            :max-height="windowWidth >= 1400 ? (405*1.8) +'px' : (windowHeight - 80) +'px'"
            :height="$vuetify.breakpoint.mdAndUp  ? windowHeight - 88 + 'px' : windowHeight - 80 + 'px'"
            :max-width="windowWidth >= 1400 ? (317*1.7)+'px' : (windowWidth / 2) + 'px'"
            :width="(windowWidth / 2) + 'px'"
            src="https://cdn.shopify.com/s/files/1/0762/7039/products/vegas-gold-sandal-alohas-501734_600x.jpg?v=1571246369"
            aspect-ratio="1">
            </v-img>
            
            <!-- Secondary Image Left -->
            <v-img
            :style="windowWidth >= 1400 ? 'top:' + (offsetY + 200) +'px; left:'+(windowWidth * 0.17)+'px;':
            'top:'+offsetY +'px; left:0px;'"
            class="secondaryImageHome"
            :height="$vuetify.breakpoint.mdAndUp  ? windowHeight - 88 + 'px' : windowHeight - 80 + 'px'"
            :max-height="windowWidth >= 1400 ? (405*1.2) +'px' : (windowHeight - 80) +'px'"
            :width="(windowWidth / 2) + 'px'"
            :max-width="windowWidth >= 1400 ? (317*1.2)+'px': (windowWidth / 2) + 'px'"   
            src="https://cdn.shopify.com/s/files/1/0762/7039/products/karmen-dark-espadrille-alohas-635197_600x.jpg?v=1570004383"
            aspect-ratio="1">
            </v-img>

            <!-- Secondary Image Bottom-->
            <v-img
            v-show="windowWidth >= 1400"
            :style="'top:' + (offsetY + 390) +'px; left:' + (windowWidth*0.47) + 'px;'"
            class="secondaryImageHome"
            :max-height="windowHeight - 88 - 80 > 405 ? '405px': windowHeight- 80 +'px'"
            height="405px"
            :max-width="'317px'"
            width="317px"
            src="https://cdn.shopify.com/s/files/1/0762/7039/products/ibizas-studded-total-black-sandal-alohas-655955_600x.jpg?v=1570003498">
            </v-img>

            </v-card>
        </v-col>
        <v-col cols="12" style="z-index:3;" >
            <v-btn
            :color="alertColor"
            block
            nuxt
            to="/zapatos_mujer">
                VER TODO
            </v-btn>
        </v-col>
        <v-col cols="12" style="z-index:3;">
            <v-card
            tile
            elevation=0
            height="1000px"
            color="grey lighten-1"
            >
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
import { mapGetters } from 'vuex'

export default{
    data(){
        return{
            windowHeight: 0,
            windowWidth: -10000,
            offsetY: 0,
        }
    },
    methods:{
        onResize(){
            this.windowHeight = window.outerHeight
            this.windowWidth = window.outerWidth
        },
        doSome(aux){
            this.offsetY=aux.path[1].scrollY *0.6
        }
    },
    mounted(){
        this.onResize()
    },
    computed:{
        ...mapGetters([
        'alertColor',
        ]),
    }
}
</script>
<style>
.mainImageHome{
    z-index:2; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.secondaryImageHome{
    z-index:1;
    position: absolute;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
</style>
