<template>
  <v-container fluid class="pa-0">
    <ProductListHeader :items="items" header="Zapatos Mujer"/>
    <ProductList :productos="productos"/>
  </v-container>
</template>

<script>
import ProductList from '@/components/Products/ProductList.vue'
import ProductListHeader from '@/components/Products/ProductListHeader.vue'
import axios from 'axios'

export default {
  data(){
    return{
      items: [
        {
          text: 'Inicio',
          exact: true,
          disabled: false,
          to: '/',
        },
        {
          text: 'Zapatos Mujer',
          exact: true,
          disabled: true,
          to: '',
        }
      ]
    }
  },
  components:{
      ProductList,
      ProductListHeader
  },
  async asyncData(context){
    context.store.commit('cleanCategories')
    return await axios.get('http://localhost:8000/api/productos/') 
    .then((response) =>{  
      return{
        productos: response.data,
      }
    })
    .catch((e) => context.error(e))
  },
}
</script>

<style>

</style>